blockquote {
    display: block;
    min-height: 30px;
    padding: 10px 10px 10px 50px;
    margin: 10px 0px;
    background-color: rgb(221, 210, 190);
    border-left: 5px solid rgb(238, 238, 238);
}

blockquote small {
    display: block;
    line-height: 18px;
    color: #999999;
}

blockquote small:before {
    content: '\2014 \00A0';
}

blockquote:before,
blockquote:after {
    content: "";
}

blockquote:before {
    color: #303030;
    content: "„";
    font-size: 70px;
    line-height: 1;
    margin: -47px 0 0 -36px;
    position: absolute;
}

blockquote > blockquote {
    border: 1px solid white;
}

body, td, pre {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: black;
}