.markup-table { margin: 0px; }

.sessins-id-col { width: 150px; text-align: center }

.sessins-time-col { width: 300px; text-align: center }

.sessins-exc-col { text-align: left }

.accordion-body { padding-left: 20px; padding-right: 20px;}

.request-col { text-align: center }

.stack-table { margin: 0px }

#sessionaccordion .accordion-group {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179);
    border-radius: 4px 4px 4px 4px;

}

.progressbar .bar { height: 10px }

.bug_bar { display:inline-block }

.bug_bar .bar {
    height: 10px; 
    width: 100%
}

.markup-table tr td {vertical-align: top}

.bugtable { width: auto }

.bugtable tr td {
    padding-left: 10px;
    padding-right: 10px;
}

.bugtable .header-td { 
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 0px; 
}

.sync_results { display:inline-block }

.small-icon {height: 16px;}

.version-progress {
    width:200px;
    background-color: red; 
    background-image: none;
    margin: 0px;
}

table {
    background-color: transparent;
}

table tbody tr:nth-child(2n) td {
    background-color: transparent;
}

table tbody tr td {
    border-bottom: inherit;
    border-right: inherit;
    border-top: inherit;
}

.sync_results { display:inline-block }

.inline { display: inline; }

.version-row td { vertical-align: middle; }

.version-icon {
    height: 32px;
    margin-right: 15px;
}

#content-center table tbody tr:hover td, #content-center .table tbody tr:hover th {
    background-color: transparent;
}

#commentForm textarea {
    width: 100%;
    height: 75px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px;
}

label:first-letter {
    text-transform: uppercase;
}
