- load i18n

%table.table.played
    %thead
        %tr
            %th.play-game
                {% trans "Played games" %}
            %th.play-char
                {% trans "Played characters" %}
    %tbody                
        - for role in played_roles
            %tr
                %td
                    %a{'href':'/play/game/{{ role.variation.game.pk }}/'}
                        = role.variation.game 
                %td
                    = role