<div>
    <game_forum_thread_actions :variation="variation" :thread="thread" :upper="true" ref="thread_actions" v-if="!loading"></game_forum_thread_actions>
    <forum_reply_form :thread="thread" :comment="comment" ref="reply_form" v-if="!loading">
        <template v-slot:before_form="slotProps">
            <game_forum_role_selector :variation="variation" :thread="thread" :form="slotProps.form" :editor="false"></game_forum_role_selector>
            <game_forum_role_selector :variation="variation" :thread="thread" :form="slotProps.form" :editor="true"></game_forum_role_selector>
        </template>
        <template v-slot:comment="slotProps">
            <forum_comment :thread="thread" :comment="slotProps.preview_comment" :preview="true">
                <template v-slot:avatar="slotProps2">
                    <game_forum_comment_avatar
                            :variation="variation" :thread="thread"
                            :role="slotProps.preview_comment.user" :actions="$refs.thread_actions">
                    </game_forum_comment_avatar>
                </template>
            </forum_comment>
        </template>
    </forum_reply_form>
</div>