- extends 'base.haml'
- load i18n
- load url from future

- block breadcrumbs
    %ul.breadcrumb
        %li
            - include 'home_link.haml'
        %li
            %a{href: '{% url "registration_register" %}'}
                {% trans 'Register' %}
        %li
            %a{href: '{% url "registration_activation_complete" %}'}
                {% trans 'Profile activation complete' %}

- block content
    %h2
        {% trans "Profile activation complete" %}
    %p
        {% trans "Great! Now you can simply log in using your username and password" %}
        %br
        %br
        