- extends 'base.haml'
- load i18n
- load url from future

- block breadcrumbs
        %li
            .divider
            %a{href: '{% url "registration_register" }'}
                {% trans 'Register' %}
        %li
            .divider
            %a{href: '{% url "registration_complete" }'}
                {% trans 'Successful registration completion' %}

- block content
    %br
    {% trans "We've send an activation link to provided e-mail. Check your mailbox, we hope to see you logged in very soon ;)" %}
    %br
    %br
    
- block caption
    {% trans "Successful registration completion" %}
    
- block title
    {% trans "Successful registration completion" %}
    
-#**registration/registration_complete.html**
-#
-#Used after successful completion of the registration form. This
-#template has no context variables of its own, and should simply inform
-#the user that an email containing account-activation information has
-#been sent.