<!DOCTYPE html>
<html>
    {% block head %}
        <head>
            {% block meta %}
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <meta name="author" content="http://vk.com/kozzztik" />
            {% endblock %}
            <title>
                {% block bugtracker_title %}{% endblock %}
            </title>
             <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bugtracker/jquery/jquery-ui.css" />
             <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bugtracker/twitter/css/bootstrap.min.css" />
             <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bugtracker/fortawesome/css/font-awesome.min.css" />
             <link rel="stylesheet" href="{{ STATIC_URL }}bugtracker/css/admin.css" type="text/css" />
             <!--[if IE 7]>
             <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bugtracker/fortawesome/css/font-awesome-ie7.min.css" />
             <![endif]-->
             {% block page_styles %}{% endblock %}

             <script type="text/javascript" src="{{ STATIC_URL }}bugtracker/jquery/jquery-1.10.2.min.js"></script>
             <script type="text/javascript" src="{{ STATIC_URL }}bugtracker/jquery/jquery-ui.js"></script>
             <script type="text/javascript" src="{{ STATIC_URL }}bugtracker/twitter/js/bootstrap.min.js"></script>
             {% block page_scripts %}{% endblock %}
        </head>
    {% endblock %}
    <body>
        <div id="bugtracker-head">
            <h3 class="caption">
                {% block bugtracker_caption %}{% endblock %}
            </h3>
        </div>
        <div id=bugtracker_content>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block bugtracker_body %}{% endblock %}
        </div>
    </body>
</html>