-load i18n
{% trans "Bugtracker not set! Administrator must set default bug paramenters:" %}
- if not status_id 
    %br
    {% trans "Status not set" %}
- if not priority_id 
    %br
    {% trans "Priority not set" %}
- if not type_id
    %br
    {% trans "Type not set" %}
