{% extends base_template %} 
{% load i18n %}
{% load bugtracker %}

{% block bugtracker_title %}
    {{ page_caption }}
{% endblock %}

{% block bugtracker_caption %}
    {{ page_caption }}
    {% if iframe %}
    <div class="pull-right">
        <a target="_parent" href="{% bug_main %}">
            {% trans " < back"%}
        </a>
    </div>
    {% endif %}
{% endblock %}

{% block bugtracker_body %}
    {% include "bugtracker/snippets/issue_list.html" %}
{% endblock %}
    