{% extends base_template %} 
{% load i18n %}

{% block bugtracker_title %}
    {% if statistics.project_name %}
        {{ statistics.project_name }}
    {% else %}
        {% trans "Bugtracker" %}
    {% endif %}
{% endblock %}

{% block bugtracker_caption %}
    {% if statistics.project_name %}
        {{ statistics.project_name }}
    {% else %}
        {% trans "Bugtracker" %}
    {% endif %}
{% endblock %}

{% block bugtracker_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}bugtracker/sync.js"></script>
    <div id="tabs">
        <ul>
            <li>
                <a href="#main_page">{% trans "Main" %}</a>
            </li>
            <li>
                <a href="#report">{% trans "Report" %}</a>
            </li>
        </ul>
        <div id="main_page">
            {% include "bugtracker/snippets/statistics.html" %}
        </div>
        <div id="report">
            {% include "bugtracker/snippets/main_report.html" %}
        </div>
    </div>
    <script>
        $( "#tabs" ).tabs({ heightStyle: "auto" });
    </script>
{% endblock %}
    