{% extends base_template %} 
{% load i18n %}

{% block bugtracker_caption %}
    {% trans "Version" %}
    {{ object }}
{% endblock %}

{% block bugtracker_title %}
    {% trans "Version" %}
    {{ object }}
{% endblock %}

{% block bugtracker_body %}
    <div id="content-main">
        <div id="tabs">
            <ul>
                <li>
                     <a href="#all">{% trans "All" %}</a>
                </li>
                <li>
                     <a href="#not_solved">{% trans "Not resolved" %}</a>
                </li>
                <li>
                     <a href="#resolved">{% trans "Resolved" %}</a>
                </li>
            </ul>
            <div id="all">
                {% include "bugtracker/snippets/issue_list.html" %}
            </div>
            <div id="not_solved">
                {% with issues=not_solved %}
                    {% include "bugtracker/snippets/issue_list.html" %}
                {% endwith %}
            </div>
            <div id="resolved">
                {% with issues=solved %}
                    {% include "bugtracker/snippets/issue_list.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <script>$( "#tabs" ).tabs();</script>
{% endblock %}