{% extends base_template %} 
{% load i18n %}
{% load url from future %}

{% block body %}
    <table class="table table-striped table-condensed table-bordered">
        {% for version in object_list %}
            <tr>
                <td>
                    <h4>
                    {% if version.archived %}
                        <img src="{{ STATIC_URL }}bugtracker/img/version_archieved.png" style="display: inline; height: 32px;" />
                    {% else %}
                        {% if version.release_date %}
                            <img src="{{ STATIC_URL }}bugtracker/img/version_released.png" style="display: inline; height: 32px;" />
                        {% else %}
                            <img src="{{ STATIC_URL }}bugtracker/img/version_in_work.png" style="display: inline; height: 32px;" />
                        {% endif %}
                    {% endif %}
                    {{ version.name }}
                    </h4>
                </td>
                <td>
                    <h4>
                    {{ version.description }}
                    </h4>
                </td>
                <td>
                    {% if version.all_issues.count %}
                    <div class="progress progress-striped version-progress progress-success">
                        <div class="bar" style="width: {{ version.solved_percent}}%;"></div>
                    </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <small>
                        {% if version.release_date %}
                            {% trans "Released:" %}
                            <b>{{ version.release_date|date:"d/b/y" }}</b>
                        {% else %}
                            {% if version.user_release_date %}
                                {% trans "Release date:" %}
                                <b>{{ version.user_release_date}}</b>
                            {% endif %}
                        {% endif %}
                    </small>
                </td>
                <td>
                    <small>
                        <a target="_parent" href="{% url "admin:bugtracker_bugversion_change" version.id %}">
                            {% trans "Watch issues" %}
                        </a>
                    </small>
                </td>
                <td>
                    <small>
                        {% if version.all_issues.count %}
                        <a target="_parent" href="{% url "admin:bugtracker_bugversion_change" version.id %}">
                            {{ version.solved.count }}
                            {% trans "from" %}
                            {{ version.all_issues.count }}
                            {% trans "was solved." %}
                        </a>
                        {% endif %}
                    </small>
                </td>
            </tr>
        {% empty%}
            {% trans "There is no versions in this project." %}
        {% endfor %}
    </table>
{% endblock %}