[buildout]
parts = django
versions = versions

[django]
recipe = djangorecipe
settings = settings
version = 1.5.1
project = %s

eggs =
# database migration
#    south
    

[versions]
#django = 1.4.5
