- extends 'base.haml'
- load i18n

- block caption
    {% trans "Counters" %}
    
- block content
    %p
        %a{href: '{% url "counters:pm" %}'}
            {% trans "Update personal messages counters" %}
    %p
        %a{href: '/forums/reindex_elastic/all/'}
            Переиндексировать все в ElasticSearch
