- extends 'base.haml'
- load i18n
- load url from future

- block breadcrumbs
    %ul.breadcrumb
        %li
            - include 'home_link.haml'
        %li
            %a{href: '{% url "news:list" %}'}
                {% trans "News" %}

- block title
    {% trans "News" %}

- block caption
    {% trans "News" %}
    
    %a.btn.btn-info.news_rss_feed_link.pull-right{href: '{% url "news:feed" %}'}
        {% trans "RSS" %}

- block content
    %ul.news.unstyled
        - for object in object_list
            %li.news_item
                %a{href: '{{ object.get_absolute_url }}'}
                    %h2
                        = object.caption
                %time{datetime: '{{ news_item.published_at }}', pubdate: 'pubdate'}
                    = news_item.published_at
                .announcement
                    = object.announcement|safe

- block news_link_class
    active