[MESSAGES CONTROL]
# R0801:Similar lines
# C0111:Missing method docstring (missing-docstring)
# W0212:Access to a protected member of a client class (protected-access)
# C0103:Invalid method name "pop_QUIT" (invalid-name)
# W0511:TODO
# W0703:Catching too general exception Exception (broad-except)
# R0903:Too few public methods (1/2) (too-few-public-methods)
# W0613:Unused argument 'cipher' (unused-argument)
# R0902:Too many instance attributes (8/7) (too-many-instance-attributes)
# R0201:Method could be a function (no-self-use)
# R0904:Too many public methods (23/20) (too-many-public-methods)
# C0412:Imports from package asyncio are not grouped (ungrouped-imports)

# R0401:Cyclic import
# W0621:Redefining name 'BlockNode' from outer scope
# W0102:Dangerous default value [] as argument
# C0411:third party import
# W0221:Parameters differ from overridden 'get' method
# C0413:Import order
# W0201:Attribute 'voting' defined outside __init__
# E1101:Instance of 'BaseVoting' has no 'voting' member
# W0232:Class has no __init__ method
# R0912:Too many branches
# R0913:Too many arguments
# W0611:Unused BasePluginView imported
# R0914:Too many local variables
# R0915:Too many statements
# W0702:No exception type(s) specified (bare-except)
# W1201:Specify string format arguments as logging function parameters
# W0403:Relative import 'models', should be 'tulius.forum.models'
# E0203:Access to member 'reply_id' before its definition line 510
# E1136:Value 'self.body' is unsubscriptable
# R0901:Too many ancestors
# W0614:Unused import
# E0602:Undefined variable
# W0401:Wildcard import views
# W0231:__init__ method from base class 'CatalogPage' is not called
# R1710:Either all return statements in a function should return an expression
# R0911:Too many return statements
# E1003:Bad first argument 'GameAdminMain' given to super
# E0202:An attribute defined in django.db.models.fields.files line 227 hides this method
# E1123:Unexpected keyword argument 'template_name' in function call
# R1702:Too many nested blocks
# E0101:Explicit return in __init__
# E1120:No value for argument
# C0302:Too many lines in module
# W0223:Method '_get_count' is abstract in class
# E1127:Slice index is not an int
# W0233:__init__ method from a non direct base class 'HttpLib2Error' is called
# C0112:Empty module docstring
# W0641: Possibly unused variable
disable=C0111,W0212,C0103,W0511,W0703,R0903,W0613,R0902,R0201,R0904,C0412,R0801,R0401,W0621,W0102,C0411,W0221,C0413,W0201,E1101,W0232,R0912,R0913,W0611,R0914,R0915,W0702,W1201,W0403,E0203,E1136,R0901,W0614,E0602,W0401,W0231,R1710,R0911,E1003,E0202,E1123,R1702,E0101,E1120,C0302,C0302,W0223,E1127,W0233,C0112,W0641

[REPORTS]
msg-template = {path}:{line} {msg_id}:{msg} ({symbol})
