[MESSAGES CONTROL]
# R0801:Similar lines
# C0111:Missing method docstring (missing-docstring)
# W0212:Access to a protected member of a client class (protected-access)
# C0103:Invalid method name "pop_QUIT" (invalid-name)
# W0511:TODO
# W0703:Catching too general exception Exception (broad-except)
# R0903:Too few public methods (1/2) (too-few-public-methods)
# W0613:Unused argument 'cipher' (unused-argument)
# R0902:Too many instance attributes (8/7) (too-many-instance-attributes)
# R0201:Method could be a function (no-self-use)
# R0904:Too many public methods (23/20) (too-many-public-methods)
# C0412:Imports from package asyncio are not grouped (ungrouped-imports)

# R0401:Cyclic import
# W0105:String statement has no effect
# W0621:Redefining name 'BlockNode' from outer scope
# W0102:Dangerous default value [] as argument
# C0303:Trailing whitespace
# C0301:Line too long
# C0411:third party import
# C0330:Wrong continued indentation
# W0221:Parameters differ from overridden 'get' method
# C1801:Do not use `len(SEQUENCE)` to determine if a sequence
# C0326:No space allowed before bracket
# C0413:Import order
# W0404:Reimport
# C0321:More than one statement on a single line
# C0304:Final newline missing
# W0201:Attribute 'voting' defined outside __init__
# E1101:Instance of 'BaseVoting' has no 'voting' member
# W0232:Class has no __init__ method
# C1001:Old-style class defined.
# C0305:Trailing newlines
# R0912:Too many branches
# R0913:Too many arguments
# R1704:Redefining argument with the local name 'form'
# W0611:Unused BasePluginView imported
# W0612:Unused variable 'pagination'
# W1113:Keyword argument before variable positional arguments
# R1705:Unnecessary "else" after "return"
# R0914:Too many local variables
# R0915:Too many statements
# W0301:Unnecessary semicolon
# W0702:No exception type(s) specified (bare-except)
# W1201:Specify string format arguments as logging function parameters
# W0104:Statement seems to have no effect
# W0106:Expression assigned to nothing
# W0623:Redefining name 'AttributeError' from builtins
# C0325:Unnecessary parens after 'if' keyword
# R1706:Consider using ternary
# W0403:Relative import 'models', should be 'tulius.forum.models'
# E0203:Access to member 'reply_id' before its definition line 510
# E1136:Value 'self.body' is unsubscriptable
# C0202:Class method as_view should have 'cls' as first argument
# R0901:Too many ancestors
# W0614:Unused import
# E0602:Undefined variable
# W0401:Wildcard import views
# W0231:__init__ method from base class 'CatalogPage' is not called
# W0622:Redefining built-in 'tuple'
# R1710:Either all return statements in a function should return an expression
# R0911:Too many return statements
# E1003:Bad first argument 'GameAdminMain' given to super
# C0200:Consider using enumerate instead of iterating
# E0711:NotImplemented raised
# E1102:NotImplemented is not callable
# W1401:Anomalous backslash in string
# C0113:Consider changing "not status in [200, 201]"
# E0202:An attribute defined in django.db.models.fields.files line 227 hides this method
# W0311:Bad indentation
# W0312:Found indentation with tabs instead of spaces
# E1123:Unexpected keyword argument 'template_name' in function call
# R1702:Too many nested blocks
# C0123:Using type() instead of isinstance()
# W0603:Using the global statement
# E0101:Explicit return in __init__
# E1120:No value for argument
# C0122:Comparison should be part.find
# E0611:No name 'FeedParser' in module 'email'
# E0401:Unable to import
# C0302:Too many lines in module
# W0123:Use of eval
# W0601:Global variable 'time_call_count' undefined at the module level
# W0235:Useless super delegation
# C0410:Multiple imports on one line
# C0201:Consider iterating the dictionary directly
# C0121:Comparison to None should be 'expr is None'
# W0223:Method '_get_count' is abstract in class
# E1127:Slice index is not an int
# C0204:Metaclass class method __new__ should have 'mcs' as first argument
# W0101:Unreachable code
# W1001:Use of "property" on an old style class
# W0233:__init__ method from a non direct base class 'HttpLib2Error' is called
# C0112:Empty module docstring

disable=C0111,W0212,C0103,W0511,W0703,R0903,W0613,R0902,R0201,R0904,C0412,R0801,R0401,W0105,W0621,W0102,C0303,C0301,C0411,C0330,W0221,C1801,C0326,C0413,W0404,C0321,C0304,W0201,E1101,W0232,C1001,C0305,R0912,R0913,R1704,W0611,W1113,R1705,R0914,R0915,W0301,W0702,W1201,W0612,W0104,W0106,W0623,C0325,R1706,W0403,E0203,E1136,C0202,R0901,W0614,E0602,W0401,W0231,W0622,R1710,R0911,E1003,C0200,E0711,E1102,W1401,C0113,E0202,W0312,E1123,R1702,C0123,W0603,W0311,E0101,E1120,C0122,E0611,E0401,C0302,C0302,W0601,W0235,C0410,C0201,C0121,W0223,E1127,C0204,W0101,W1001,W0123,W0233,C0112

[REPORTS]
msg-template = {path}:{line} {msg_id}:{msg} ({symbol})
