django == 2.0.4
pytz == 2018.4
pillow == 5.1.0
mysqlclient == 1.3.12

# apparently best relational DB trees implementation
django-mptt == 0.9.0

# hamlpy dependency
pygments == 2.2.0

# HAML translator python realization
hamlpy == 0.82.2

# makes hamlpy usage in django templates possible
djaml == 1.1
django-appconf == 1.0.2
FeedParser == 5.2.1
pyyaml == 3.12

python-memcached == 1.59
django-memcache-status == 1.3
# sentry
raven == 6.6.0
gevent == 1.2.2
redis == 2.10.6
django-websocket-redis == 0.5.1
django-redis-cache == 1.7.1
requests == 2.18.4
