django == 2.0.6
pytz == 2018.4
pillow == 5.1.0
mysqlclient == 1.3.12

# apparently best relational DB trees implementation
django-mptt == 0.9.0

# profiler requirement
pyyaml == 3.12

django-hamlpy == 1.1.1

python-memcached == 1.59
django-memcache-status == 1.3
# sentry
sentry-sdk == 0.7.10
gevent == 1.2.2
redis == 2.10.6
django-websocket-redis == 0.5.1
django-redis-cache == 1.7.1
requests == 2.18.4
