from settings import *

import sentry_sdk

RAVEN_CONFIG['dsn'] = ""

DATABASES['default']['PASSWORD'] = 'db_password'

ALLOWED_HOSTS += []

sentry_sdk.init(**RAVEN_CONFIG)

DEBUG = False
CELERY_TASK_ALWAYS_EAGER = False
