#content-main table tr td {
    vertical-align: top;
}

.wide-table {
    width: 100%;
    tablelayout: fixed;
}

#loading-main-content > tbody > tr> td:nth-child(2) { width: 450px }

.module_table { margin: 0; }
.module_table tr td:nth-child(2) { width: 50px }
.module_table tr td:nth-child(3) { width: 50px }
.module_table tr td:nth-child(4) { width: 50px }

.ui-accordion .ui-accordion-header-icon { display: none; }
.ui-accordion .ui-accordion-content { padding: 0; } 

#loading-main-content a {text-decoration: underline; }

.table { margin-bottom: 0px; }

.tip-title {
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
}