- extends 'base.haml'
- load i18n

- block caption
    = flatpage.title

- block breadcrumbs
    %a{href: '{% url "flatpages" %}'}
        {% trans "Flatpages" %}
    %a{href: '{{ flatpage.get_absolute_url }}'}
        = flatpage.title

- block content
    .flatpages
        = flatpage.content|safe

- block flatpages_link_class
    active