{% load i18n %}
{% load url from future %}

{% load bugtracker %}

<table class="wide" style="align: top">
    <tr>
        <td width="50%">
            <table class="bugtable">
                <tr>
                    <td class="header-td" colspan="3">
                        <h4>{% trans "Not solved:" %} {% trans "by priority"%}</h4>
                    </td>
                </tr>
                {% for priority in statistics.priorites %}
                    {% if priority.not_solved.count %}
                        <tr> 
                            <td>
                                <img src="{{ priority.icon.url }}" />
                                <a {% if iframe %}target="_parent" {%endif%}href="{% bug_by_priority priority.id %}" style="color: {{priority.status_color}};">
                                    {{ priority.name }}
                                </a>
                            </td>
                            <td>{{ priority.not_solved.count }}</td>
                            <td>
                                <div class="progressbar progress-striped bug_bar" style="width: {{ priority.not_solved_percent }}px">
                                    <div class="bar"></div>
                                </div>
                               {{ priority.not_solved_percent }}%
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td class="header-td" colspan="3">
                        <h4>{% trans "Not solved:"%} {% trans "by assignee"%} </h4>
                    </td>
                </tr>
                {% for jira_user in statistics.jira_users %}
                    {% if jira_user.not_solved.count %}
                        <tr>
                            <td>
                                {% if jira_user.small_icon %}
                                    <img src="{{ jira_user.small_icon.url }}" />
                                {% endif %}
                                {% if jira_user.user %}
                                    <a {% if iframe %}target="_parent" {%endif%}href="{% bug_by_user jira_user.id %}">
                                        {{ jira_user }}
                                    </a>
                                {% else %}
                                    {{ jira_user }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ jira_user.get_bugs_url }}">
                                    {{ jira_user.not_solved.count }}
                                </a>
                            </td>
                            <td>
                                <div class="progressbar progress-striped bug_bar" style="width: {{ jira_user.not_solved_percent }}px">
                                    <div class="bar"></div>
                                </div>
                                {{ jira_user.not_solved_percent }}%
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td class="header-td" colspan="3">
                        <h4>{% trans "Not solved:"%} {% trans "by version"%}</td>
                    </td>
                </tr>
                {% for version in statistics.versions %}
                    {% if version.not_solved.count %}
                        <tr class="version-row">
                            <td>
                                <a {% if iframe %}target="_parent" {%endif%}href="{% bug_version_url version.id %}">
                                    {% include "bugtracker/snippets/issue/version_icon.html" %}
                                    {{ version.name }}
                                </a>
                            </td>
                            <td>{{ version.not_solved.count }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if write_right %}
                    <tr>
                        <td class="header-td" colspan="3">
                            <h4>{% trans "Sync:" %}</h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a class="bugtracker-sync-link" href="" url="{% url "bugtracker:sync_all" %}" 
                                wait_text="{% trans "Wait..." %}" error_text="{% trans "Error occured during sync" %}"
                                success_text="{% trans "Success!" %}" text_container="#sync_all_result">
                                <img class="inline small-icon" src="{{ STATIC_URL }}bugtracker/img/sync.png" />
                                {% trans "Sync all data" %}
                            </a>
                            <span id="sync_all_result" class="sync_results"></span>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </td>
        <td>
            <table class="bugtable">
                <tr>
                    <td class="header-td" colspan="3">
                        <h4>{% trans "By status:"%}</h4>
                    </td>
                </tr>
                {% for status in statistics.statuses %}
                    {% if status.bugs.count %}
                        <tr>
                            <td>
                                <img src="{{ status.icon.url }}" />
                                <a {% if iframe %}target="_parent" {%endif%}href="{% bug_by_status status.id %}">
                                    {{ status.name }}
                                </a>
                            </td>
                            <td>{{ status.bugs.count }}</td>
                            <td>
                                <div class="progressbar progress-striped bug_bar" style="width: {{ status.bug_percent }}px">
                                    <div class="bar"></div>
                                </div>
                                {{ status.bug_percent }}%
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td class="header-td" colspan="3">
                        <h4>{% trans "Not solved:"%} {% trans "by component"%}</h4>
                    </td>
                </tr>
                {% for component in statistics.components %}
                    {% if component.not_solved.count %}
                        <tr>
                            <td>
                                <a {% if iframe %}target="_parent" {%endif%}href="{% bug_by_component component.id %}">
                                    <img class="inline small-icon" src="{{ STATIC_URL }}bugtracker/img/version_archieved.png" />
                                    {{ component.name }}
                                </a>
                            </td>
                            <td>{{ component.not_solved.count }}</td>
                            <td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td class="header-td" colspan="3">
                        <h4>{% trans "Not solved:"%} {% trans "by type"%}</h4>
                    </td>
                </tr>
                {% for bug_type in statistics.bug_types %}
                    {% if bug_type.not_solved.count %}
                        <tr>
                            <td>
                                <img src="{{ bug_type.icon.url }}" />
                                <a {% if iframe %}target="_parent" {%endif%}href="{% bug_by_type bug_type.id %}">
                                    {{ bug_type.name }}
                                </a>
                            </td>
                            <td>{{ bug_type.not_solved.count }}</td>
                            <td>
                                <div class="progressbar progress-striped bug_bar" style="width: {{ bug_type.not_solved_percent }}px" >
                                    <div class="bar"></div>
                                </div>
                                {{ bug_type.not_solved_percent }}%
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </td>
    </tr>
</table>