- load i18n
- with player=comment.user
    - include 'players/snippets/avatar.haml'
%table.online-table
    %tr
        %td
            - if comment.online and comment.user.show_online_status
                - if comment.online_here
                    .online-icon-here-online
                - else
                    .online-icon-online
            - else
                .online-icon-offline
        %td
            %a{href: '{{ comment.user.get_absolute_url }}'}
                = comment.user
- with player=comment.user
    - include 'players/snippets/stars.haml'
- with user=comment.user
    - if user.rank
        = user.rank
        %br
    - if user.stories_author
        {% trans "Stories author" %}
