- extends 'base.haml'
- load i18n
- load url from future

- block extra_scripts
    %link{rel: 'stylesheet', href: '{{ MEDIA_URL }}css/tulius-players.css', type: 'text/css'}

- block breadcrumbs
    %li
        .divider
        %a{href: '{% url "players:index" %}'}
            {% trans "players" %}
    %li
        .divider
        %a{href: '{% url "players:player_details" player.id %}'}
            = player.username
    %li
        .divider
        %a{href: ''}
            {% trans "Message history" %}
                
- block caption
    {% trans "Message history with "%}
    = player.username
    
- block content
    - load pagination_tags
    - autopaginate message_list message_on_page
        - paginate

        - include 'players/snippets/messages.haml'

        - paginate