- extends 'base.haml'
- load i18n

- block extra_scripts
    %link{rel: 'stylesheet', href: '{{ STATIC_URL }}tulius/css/tulius-players.css', type: 'text/css'}

- block breadcrumbs
    %a{href: '{% url "players:index" %}'}
        {% trans "players" %}
    %a{href: '{% url "players:player_details" player.id %}'}
        = player.username
    %a{href: ''}
        {% trans "Message history" %}
                
- block caption
    {% trans "Message history with "%}
    = player.username
    
- block content
    - load pagination_tags
    - autopaginate message_list message_on_page
        - paginate

        - include 'profile/snippets/messages.haml'

        - paginate