- extends 'stories/base.haml'
- load i18n

- block story_breadcrumbs
    %li
        .divider
        %a{href: ''}
            {% trans "Add story" %}
            
- block title
    {% trans "Add story" %}
- block caption 
    {% trans "Add story" %}

- block content
    - include "snippets/form.haml"