- extends 'base.haml'
- load i18n

- block breadcrumbs
    %a{href: '{% url "stories:index" %}'}
        {% trans "Story catalog" %}
    - block story_breadcrumbs
    
- block caption
    {% trans "Story catalog" %}
    
- block title
    {% trans "Story catalog" %}
    
- block extra_scripts
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}stories/tulius-stories.css'}
