- extends 'base.haml'
- load i18n
- load url from future

- block breadcrumbs
    %li
        .divider
        %a{href: '{% url "stories:index" %}'}
            {% trans "Story catalog" %}
    - block story_breadcrumbs
    
- block caption
    {% trans "Story catalog" %}
    
- block title
    {% trans "Story catalog" %}
    
- block extra_scripts
    %link{rel: 'stylesheet', href:'{{ MEDIA_URL }}css/tulius-stories.css', type: 'text/css'}