[mysqld]
# Original config

skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

#
# * Fine Tuning
#
key_buffer_size         = 30M
max_allowed_packet      = 100M
thread_stack            = 192K
thread_cache_size       = 16
max_connections         = 250
table_open_cache        = 1000
#thread_concurrency     = 10
#
# * Query Cache Configuration
#
query_cache_limit       = 1M
query_cache_size        = 100M
# InnoDB
innodb_flush_log_at_trx_commit = 0
innodb_buffer_pool_size = 300M
innodb_log_file_size = 100M
character-set-server = utf8
collation-server = utf8_general_ci
skip-character-set-client-handshake
init_connect='SET collation_connection = utf8_general_ci'
init_connect='SET NAMES utf8'
default-time-zone = "+3:00"
