- extends forum_site.templates.base
- load i18n

- block upper_actions

- block title
    - if parent_thread.room
        {% trans "Move room" %}
    - else
        {% trans "Move thread" %}
        
- block forum_content
    .content
        %h2
            
            {% trans "Select room to move into:" %}
        - for thread in threads
            - if thread
                %div{style: 'padding-left: {{ thread.level }}em;'}
                    %a{href: '{{ thread.move_url }}'}
                        = thread
            - else
                %div
                    %a{href: '{{ index_url }}'}
                        {% trans "<< Forum root >>" %}
        