- extends forum_site.templates.base
- load i18n

- block upper_actions

- block title
    - if parent_thread.room
        {% trans "Move room" %}
    - else
        {% trans "Move thread" %}
        
- block forum_content
    .content
        %h2
            - if parent_thread.room
                {% trans "Move room" %}
            - else
                {% trans "Move thread" %}
        %form{method: 'POST'}
            - csrf_token
            %p
                - if parent_thread.room
                    {% trans "Are you shure you want to move room" %}
                - else
                    {% trans "Are you shure you want to move thread" %}
            %h2
                %a{href: '{{ parent_thread.get_absolute_url }}'}
                    = parent_thread
            - if thread
                %p
                    {% trans "to room:" %}
                %h2
                    %a{href: '{{ thread.get_absolute_url }}'}
                        = thread
            - else
                %p
                    {% trans "to forum root?" %}
            %fieldset
                %a.btn.btn-large.btn-primary{href: '{{ parent_thread.get_absolute_url }}'}
                    {% trans "No, cancel moving" %}
                %button.btn.btn-danger{type: 'submit'}
                    {% trans "Yes, move" %}