- if forceresults
    = voting.force_voting_results
- else
    - if choice
        - include "voting/closed_results.html"
    - else
        - if can_vote
            - include "voting/voting.html"s
        - else
            - include "voting/closed_results.html"
