- extends 'forum/add_post.haml'

- block before_form
    - with form=roleform
        - if form.non_field_errors
            .alert.alert-error
                = form.non_field_errors
        - include 'snippets/form_fields_only.haml'
    - with form=editorform
        - if form.non_field_errors
            .alert.alert-error
                = form.non_field_errors
        - include 'snippets/form_fields_only.haml'