- extends 'forum/base_game.haml'
- load i18n

- block plugin_styles
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}forum/css/tulius-forum.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}stories/tulius-stories.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}games/css/tulius-games.css'}
    %script{type: 'text/javascript'}
        var trustmarks_url = "{{ forum_site.urlizer.trustmarks }}";
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}gameforum/trustmarks.js'}
    
- block breadcrumbs
    - if parent_thread.game
        %a{href: '{{ parent_thread.game.get_absolute_url }}'}
            {% trans "Game" %}
    - else
        %a{href: '{{ parent_thread.variation.get_absolute_url }}'}
            {% trans "variation" %}
    - for ancestor in parent_thread.get_ancestors
        %a{href: "{{ ancestor.get_absolute_url }}"}
            = ancestor.title
    - if parent_thread
        %a{href: "{{ parent_thread.get_absolute_url }}"}
            = parent_thread.title
    - if form
        %a{href: "{{ form.url }}"}
            = form.caption|capfirst

- block before_actions

                
- block after_actions
    - if parent_thread
        - with dropupmenu=1
            - include forum_site.templates.actions

