{% extends "base.haml" %}
{% load i18n %}
{% load bugtracker %}

{% block breadcrumbs %}
    <li>
        <div class="divider"></div>
        <a href="{% bug_main %}">
            {% trans "Bugtracker" %}
        </a>
    </li>
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bugtracker/css/admin.css" type="text/css" />
{% endblock %}

{% block title %}
{% block bugtracker_title %}{% endblock %}
{% endblock %}

{% block caption %}
{% block bugtracker_caption %}{% endblock %}
{% endblock %}

{% block content %}
    <div id=bugtracker_content>
        {% block bugtracker_body %}{% endblock %}
    </div>
{% endblock %}