- extends 'base.haml'
- load i18n
- load pagination_tags

- block extra_scripts
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ MEDIA_URL }}css/tulius-bugs.css'}
    
- block breadcrumbs
    %li
        .divider
        %a{href: ''}
            {% trans "Exceptions" %}

- block caption
    {% trans "Exceptions" %}
    
- block content
    - include 'bugtracker/admin/snippets/exceptions_list.haml'