- extends 'base.haml'
- load i18n
- load url from future

- block extra_scripts
    %link{rel: 'stylesheet', href: '{{ MEDIA_URL }}css/tulius-bugs.css', type: 'text/css'}
    
- block breadcrumbs
    %ul.breadcrumb
        %li {% include 'home_link.haml' %}
        %li
            %a{href: "{% url 'bugs:exceptions' %}"}
                {% trans "Exceptions" %}
        %li
            %a{href: ""}
                EXCEPTION-{{ exception_message.id}}
                    = exception_message.classname

- block caption
    EXCEPTION-{{ exception_message.id}}
    = exception_message.classname

- block content
    - include 'bugtracker/admin/snippets/exception.haml'