- load i18n

%table.table
    %thead
            %tr
                %th
                    ID
                %th
                    {% trans "time" %}
                %th
                    {% trans "class" %}
                %th
                    {% trans "path" %}
    %tbody
            - for exception in exceptions
                %tr
                    %td
                        %a{'href': '{{ exception.get_absolute_url }}'}
                            = exception.id
                    %td
                        %a{'href': '{{ exception.get_absolute_url }}'}
                            = exception.create_time
                    %td
                        = exception.classname
                    %td
                        %a{'href': '{{ exception.path }}'}
                            = exception.path
