<div>
    <pagination :pagination="pagination" :page_num="value"></pagination>
    <div v-for="comment in comments" :key="comment.id" :id="comment.id" >
        <div ref="comments" v-on:mouseover="mark_as_read(comment)" v-on:mouseleave="cancel_mark_as_read(comment)">
            <slot v-bind:comment="comment" name="comment" ref="comments">
                <forum_comment :thread="thread" :comment="comment"></forum_comment>
            </slot>
        </div>
    </div>
    <pagination :pagination="pagination" :page_num="value" ref="bottom_pagination"></pagination>
    <a v-if="thread.not_read" v-html="thread.not_read.count" id="not_read_counter" href="javascript:void(0)" @click="to_not_read_comment()"></a>
    <b-modal id="commentDelete"
         title="Удалить комнентарий" ok-title="Удалить" ok-variant="danger"
         cancel-title="Отменить" @ok="do_delete_comment">
        <div class="form-horizontal">
        <fieldset class="control-group">
            <div class="control-label">
                <label for="delete_comment">Пояснение:</label>
            </div>
            <div class="controls">
                <input id="delete_comment" type="text" v-model="delete_comment_message">
            </div>
        </fieldset>
        </div>
    </b-modal>
</div>