<table class="post-table content" :class="comment.unreaded ? 'unreaded-post': ''">
    <tbody>
        <tr>
            <td class="post-avatar">
                <user_avatar :user="comment.user" :thread="thread"></user_avatar>
            </td>
            <td class="post-body">
                <table class="wide vertical-center">
                    <tbody>
                        <tr class="post-head">
                            <td class="post-title">
                                <b v-html="comment.title"></b>
                            </td>
                            <td class="post-time d-none d-md-table-cell" v-html="forum_datetime(comment.create_time)"></td>
                        </tr>
                        <tr class="post-body-content" :class="user.compact_text ? 'post-compact': ''">
                            <td colspan="2">
                                <span v-html="comment.body"></span>
                                <forum_voting :comment="comment" :user="user" v-if="comment.voting"></forum_voting>
                                <div class="post-signature hidden-phone" v-html="comment.user.signature" v-if="comment.user.signature"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="post-url">
                <a href="#" class="d-none d-md-block">Наверх</a>
                <b-dropdown variant="light" class="d-md-none btn-group-sm" v-if="!preview && (thread.rights.write || comment.edit_right)" text="Действия">
                    <b-dropdown-item class="fast-reply-link post-actions-button" v-on:click="$parent.fast_reply(comment)" href="javascript:void(0)" v-if="thread.rights.write">
                        Ответить
                    </b-dropdown-item>
                    <b-dropdown-item class="post-actions-button" :href="'/forums/edit_thread/' + thread.id + '/'" v-if="comment.edit_right && comment.is_thread">
                        Редактировать
                    </b-dropdown-item>
                    <b-dropdown-item class="post-actions-button" :href="'/forums/edit_comment/' + comment.id + '/'" v-if="comment.edit_right && (!comment.is_thread)">
                        Редактировать
                    </b-dropdown-item>
                    <b-dropdown-item class="post-actions-delete post-actions-button" :href="'javascript:delete_comment(' + comment.id + ')'" v-if="comment.edit_right && thread">
                        Удалить
                    </b-dropdown-item>
                    <b-dropdown-item class="post-actions-button" :href="'/forums/thread/' + thread.id + '/move/'" v-if="comment.is_thread && thread.rights.move">
                        Переместить
                    </b-dropdown-item>
                </b-dropdown>
            </td>
            <td class="post-actions">
                <div class="d-md-none d-inline pull-left" v-html="forum_datetime(comment.create_time)"></div>
                <span v-if="!preview">
                    <a v-if="thread.rights.write" class="d-none d-md-inline fast-reply-link post-actions-button" v-on:click="$parent.fast_reply(comment)" href="javascript:void(0);">
                        <img src="/static/forum/img/replybutton.gif" height="26" width="127">
                    </a>
                    <a v-if="comment.edit_right && (!comment.is_thread)" class="d-none d-md-inline post-actions-button" :href="'/forums/edit_comment/' + comment.id + '/'">
                        <img src="/static/forum/img/editbutton.gif" height="26" width="168">
                    </a>
                    <a v-if="comment.edit_right && comment.is_thread" class="d-none d-md-inline post-actions-button" :href="'/forums/edit_thread/' + thread.id + '/'">
                        <img src="/static/forum/img/editbutton.gif" height="26" width="168">
                    </a>
                    <a v-if="comment.edit_right" class="d-none d-md-inline post-actions-delete post-actions-button" :href="'javascript:delete_comment(' + comment.id + ')'">
                        <img src="/static/forum/img/delete_post.png">
                    </a>
                    <a v-if="comment.is_thread && thread.rights.move" class="d-none d-md-inline post-actions-button" :href="'/forums/thread/' + thread.id + '/move/'">
                        <img src="/static/forum/img/move.gif">
                    </a>
                    <a v-if="like_img" v-on:click="do_like()" href="javascript:void(0);">
                        <img class="post-actions-button likelink" :id="'likebtn' + comment.id" height="26" width="26" :src="like_img">
                    </a>
                </span>
                <div v-if="comment.edit_time" class="edited">
                    Отредактировано:
                    <span v-html="comment.editor.title"></span>,
                    <span v-html="forum_datetime(comment.edit_time)"></span>
                </div>
                <div class="pull-right">
                    <router-link :to="comment.url"></router-link>
                </div>
            </td>
        </tr>
    </tbody>
</table>