<table class="table forum-thread-list">
    <thead>
        <tr>
            <th width="40">&nbsp;</th>
            <th>Тема</th>
            <th class="d-none d-md-table-cell" width="100">Автор</th>
            <th class="d-none d-sm-table-cell" width="80">сообщ.</th>
            <th class="d-none d-sm-table-cell" width="200">последнее сообщ.</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="thread in threads" :class="thread.deleted ? 'deleted-thread' : ''">
            <td class="forum-post-icon">
                <div v-if="thread.important">
                    <router-link :to="thread.unreaded" v-if="thread.unreaded">
                        <img src="/static/forum/img/important_not_readed.gif">
                    </router-link>
                    <img src="/static/forum/img/important_readed.gif" v-if="!thread.unreaded">
                </div>
                <div v-else>
                    <router-link :to="thread.url" v-if="thread.closed">
                        <img src="/static/forum/img/closed.gif">
                    </router-link>
                    <router-link :to="thread.unreaded" v-if="!thread.closed && thread.unreaded">
                        <img src="/static/forum/img/unreadedmark.gif">
                    </router-link>
                    <img src="/static/forum/img/readedmark.gif" v-if="!thread.closed && !thread.unreaded">
                </div>
            </td>
            <td>
                <div class="forum-post-description">
                    <h4>
                        <router-link :to="thread.url" v-html="thread.title"></router-link>
                    </h4>
                    <slot v-bind:thread="thread" name="accessed_users">
                        <h6 v-if="thread.accessed_users" class="moderators">Открыта для:</h6>
                        <ul v-if="thread.accessed_users" class="moderators">
                            <li v-for="accessed_user in thread.accessed_users">
                                <a :href="accessed_user.url">{{ accessed_user.title }}</a>
                            </li>
                        </ul>
                    </slot>
                    <div v-if="thread.pages_count > 1">
                        <h6>Страницы:</h6>
                        <router-link :to="thread.url + '?page=' + (num+1)" v-for="num in Array(thread.pages_count).keys()" :key="num">
                            {{num + 1 }}
                        </router-link>
                    </div>
                </div>
            </td>
            <td class="d-none d-md-table-cell">
                <slot v-bind:thread="thread" name="author">
                    <a :href="thread.user.url" v-html="thread.user.title" v-if="thread.user"></a>
                </slot>
            </td>
            <td class="d-none d-sm-table-cell" v-html="thread.comments_count"></td>
            <td class="d-none d-sm-table-cell">
                <forum_latest_post :comment="thread.last_comment"></forum_latest_post>
            </td>
        </tr>
    </tbody>
</table>