<div>
    <div class="rcrumbs" :id="upper ? 'top-breadcrumbs' : 'bottom-breadcrumbs'">
        <div class="breadcrumbs-border" v-if="!upper"></div>
        <ul class="breadcrumb">
            <li>
                <a href="/">
                    <div class="homelink"></div>
                </a>
            </li>
            <li v-for="item in items">
                <div class="divider"></div>
                <router-link :to="item.url">
                    {{ item.title }}
                </router-link>
            </li>
        </ul>
    </div>
    <div class="breadcrumbs-border" v-if="upper"></div>
</div>