.breadcrumbs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.breadcrumbs .homelink {
    background-image: url("../../tulius/img/baselayout/home.png");
    width: 23px;
    height: 20px;
    display: inline-block;
    margin-bottom: -3px;
}

.breadcrumbs > * {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px !important;
    padding-top: 8px !important;
    background: none;
    box-shadow: none;
    border: none;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flow-root list-item;
}

.breadcrumbs > ::before {
    content: '';
    background-image: url("../../tulius/img/baselayout/breadcrumbs-arr.png");
    background-repeat: no-repeat;
    width: 8px;
    height: 9px;
    display: inline-block;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 0 auto;
}

.breadcrumbs > :first-child::before {
    content: none;
}

.breadcrumbs > :last-child, .breadcrumbs > :nth-child(1), .breadcrumbs > :nth-child(2) {
        flex: 0 0 auto !important;
}


.breadcrumbs-border {
    height: 14px;
    background-image: url("../../tulius/img/baselayout/breadcrumbs-border.png");
    margin-left: -20px;
    max-width: 980px;
}

#bottom-breadcrumbs {
    background-image: url("../../tulius/img/baselayout/breadcrumbs.png");
    background-position: bottom;
    margin-top: 20px;
    height: 45px
}

#bottom-breadcrumbs .breadcrumbs-border{
    height: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.breadcrumbs a {
    font-size: 14px;
    color: #6a6353;
}

.breadcrumbs a:last-child {
    color: #ae1303;
    font-weight: bold;
}

.breadcrumbs a:hover {
    color: black;
}
body .menu {
    width: 48px;
}

.menu > * {
    padding-left: 0px;
}

@media (max-width: 768px) {
    body .menu {
        width: 100%;
    }
    .menu .menu-notif-list {
        width: 70px;
    }
}

.online-users ul {
    padding-left: 0px;
}