- load i18n
- if delete_post_form
    %form#PostDeleteModal.modal.hide.fade.in.well.form-horizontal{method: 'POST', action: '{% if parent_thread.room %}{{ forum_site.urlizer.delete_thread }}{% else %}{{ forum_site.urlizer.delete_comment }}{% endif %}', }
        - csrf_token
        .modal-header
            %a.close{data-dismiss: "modal"}×
            %h3
        #deletepost_success{hidden: 'true'}
            .alert.alert-success
                %span.post-success-caption
        #deletepost_error.alert.alert-error{hidden: 'true'}
        #deletethread_warning
            .alert.alert-error
                {% trans "Warning! By doing this you will delete all thread and its comments!" %}
        #deletepost_form_body
            .ajax-form
                .modal-body
                  .mceNoEditor
                    - with form=delete_post_form
                        = form.post
                        - with field=form.message
                            - include forum_site.templates.form_field
        #deletepost_footer.modal-footer
            %span#deletepost_btn.submit.btn.btn-primary
                {% trans "Delete" %}
            %button.btn{data-dismiss: "modal"}
                {% trans "Cancel" %}
    %script{type: 'text/javascript', src: '{{ MEDIA_URL }}forum/delete-post.js'}