- load i18n
- if not request.user.is_anonymous
    .btn-toolbar.forum-menu
        .btn-group{class: '{% if dropupmenu %}dropup{% endif %}'}
            %button.btn.dropdown-toggle{data-toggle: 'dropdown'}
                {% trans "Actions"%} 
                %span.caret
            %ul.dropdown-menu
                - if parent_thread.is_thread
                    %li
                        %a{data-toggle: 'modal', href: '#quoteAnswer'}
                            {% trans "Answer with quote" %}
                - else
                    %li
                        %a{href: '{{ parent_thread.get_mark_all_as_readed_url }}'}
                            {% trans "Mark all as readed" %}
                    - if parent_thread.moderate_right
                        %li
                            %a{href: '{{ parent_thread.get_add_room_url}}'}
                                {% trans "add room" %}
                    - if parent_thread.write_right
                        %li
                            %a{href: '{{ parent_thread.get_add_thread_url }}'}
                                {% trans "add thread" %}
                    - if parent_thread.edit_right
                        %li
                            %a{href: '{{ parent_thread.get_edit_url }}'}
                                {% trans "edit" %}
                    - if parent_thread.move_right
                        %li
                            %a{href: '{{ parent_thread.get_move_url }}'}
                                {% trans "Move room" %}
                    - if parent_thread.edit_right
                        %li
                            %a{href: 'javascript:delete_room({{ parent_thread.id }})'}
                                {% trans "Delete room" %}
                    - if request.user.is_superuser and parent_thread
                        %li
                            %a{href: '{{ parent_thread.get_fix_counters_url }}'}
                                {% trans "Update counters" %}
                %li
                    %a{href: '{{ parent_thread.extended_search_url }}'}
                        {% trans "Extended search" %}
        - if parent_thread.is_thread
            #quoteAnswer.modal.hide.fade.in.well
                .modal-header
                    %a.close{data-dismiss: "modal"}×
                    %h3
                        {% trans "Quoting" %}
                %p
                    {% trans "Quoting now is simple! Just select text with mouse:" %}
                %img{src: '{{ MEDIA_URL }}/forum/quote_help1.png'}
                %p
                    {% trans 'And press "Answer" button. Fast reply form will appear under this post, and selected text will be added as quote.' %}
                %img{src: '{{ MEDIA_URL }}/forum/quote_help2.png'}
                .modal-footer
                    %button.btn.btn-primary{data-dismiss: "modal"}
                        {% trans "Close" %}
        - block search_form
            - if core.search_form and not search_results and parent_thread
                .forum-search-form
                    %form.inline-form{method: "post", action: "{{ parent_thread.search_url }}"}
                        - csrf_token
                        {{ core.search_form.text }}
                        %input{id: 'id_thread', type: 'hidden', name: 'thread', value: '{{ parent_thread.id }}'}
                        %button.submit.btn#search{type: 'submit'}
                            {% trans "Search" %}