- load i18n

- if is_paginated
    .pagination.pagination-centered
        %ul.pagination-btns
            %li{class: "{% if page_num == 1 %}disabled{% endif %}"}
                - if previous_page_num
                    <a onclick="javascript:set_page({{ previous_page_num }}, 0, {% if bottom %}true{% else %}false{% endif %})"
                        href="?page={{ previous_page_num }}">
                        &lsaquo;&lsaquo;
                        {% trans "previous" %}
                    </a>
                - else
                    %a
                        &lsaquo;&lsaquo;
                        {% trans "previous" %}
            - for page in pages
                - if page
                    %li{class: "{% ifequal page page_num %}active{% endifequal %}"}
                        - ifequal page page_num
                            %a
                                = page
                        - else
                            <a onclick="javascript:set_page({{ page }}, 0, {% if bottom %}true{% else %}false{% endif %})"
                                href="?page={{ page }}">
                                = page
                            </a>
                - else
                    %li.disabled
                        %a
                            \...
            %li{class: "{% if pages_count == page_num %}disabled{% endif %}"}
                - if next_page
                    <a onclick="javascript:set_page({{ next_page }}, 0, {% if bottom %}true{% else %}false{% endif %})"
                        href="?page={{ next_page }}">
                        {% trans "next" %} 
                        &rsaquo;&rsaquo;
                    </a>
                - else
                    %a.disabled{href: "#"}
                        {% trans "next" %}
                        &rsaquo;&rsaquo;
        %ul.progress.progress-striped.active{style: "display: none"}
            .bar{style: "width: 100%"}