- load i18n
- load bbcodes

%table.post-table.content{class: '{% if comment.unreaded %}unreaded-post{% endif %}'}
    %tr
        %td.post-avatar
            - block forum_user_info
                - include forum_site.templates.comment_player
        %td.post-body
            %table.wide.vertical-center
                %tr.post-head
                    %td.post-title
                        - block post_title
                            %b
                                {{ comment.title }}
                    %td.post-time.hidden-phone
                        {{ comment.create_time|date:"d.m.Y, H:i" }}
                %tr.post-body-content{class: '{% if request.user.compact_text %}post-compact{% endif %}'}
                    %td{colspan: '2'}
                        = comment.body|bbcode|safe
                        - if comment.voting
                            - with voting=comment.voting_obj
                                - if voting
                                    - include forum_site.templates.voting
                        - block post-signature
                            - if comment.user.signature
                                .post-signature.hidden-phone
                                    = comment.user.signature|bbcode|safe
    %tr
        %td.post-url
            %a.hidden-phone{href: '#'}
                {% trans "Up" %}
            .dropup.visible-phone
                - if parent_thread.write_right or comment.edit_right
                    %a.dropdown-toggle{data-toggle: "dropdown", href: "#"}
                        {% trans "Actions" %}
                        %span.caret
                    %ul.dropdown-menu
                        - if parent_thread.write_right
                            %li
                                %a.fast-reply-link.post-actions-button{href: 'javascript:fast_reply({{ comment.id }})'}
                                    {% trans "Answer"%}
                        - if comment.edit_right
                            %li
                                %a.post-actions-button{href: '{{ comment.get_edit_url }}'}
                                    {% trans "Edit" %}
                            - if parent_thread
                                %li
                                    %a.post-actions-delete.post-actions-button{href: 'javascript:delete_comment({{ comment.id }})'}
                                        {% trans "Delete" %}
                        - if comment.is_thread
                            - if comment.parent.move_right
                                %a.post-actions-button{href: '{{ comment.parent.get_move_url }}'}
                                    {% trans "Move" %}
        %td.post-actions
            .visible-phone.pull-left
                {{ comment.create_time|date:"d.m.Y, H:i" }}
            - block forum_post_actions
                - if parent_thread.write_right
                    -block post_action_write
                        - if not block_reply
                            %a.hidden-phone.fast-reply-link.post-actions-button{href: 'javascript:fast_reply({{ comment.id }})'}
                                %img{src: '{{ STATIC_URL }}forum/img/replybutton.gif', height: '26', width: '127'}
                - if comment.edit_right
                    - block post_action_edit
                        %a.hidden-phone.post-actions-button{href: '{{ comment.get_edit_url }}'}
                                %img{src: '{{ STATIC_URL }}forum/img/editbutton.gif', height: '26', width: '168'}
                    - block post_action_delete
                        - if parent_thread
                            %a.hidden-phone.post-actions-delete.post-actions-button{href: 'javascript:delete_comment({{ comment.id }})'}
                                %img{'src': '{{ STATIC_URL }}forum/img/delete_post.png'}
                - if comment.is_thread
                    - block post_action_move
                        - if comment.parent.move_right
                            %a.hidden-phone.post-actions-button{href: '{{ comment.parent.get_move_url }}'}
                                %img{'src': '{{ STATIC_URL }}forum/img/move.gif'}
                - if not request.user.is_anonymous
                    - block post_action_like
                      %a{'href': 'javascript:do_like({{ comment.id }})'}
                        %img.post-actions-button.likelink{id: 'likebtn{{ comment.id }}', height: '26', width: '26', 
                            value: '{{ comment.is_liked }}',
                            src: '{{ STATIC_URL }}forum/img/{% if comment.is_liked %}like.gif{% else %}unlike.gif{% endif %}'}
                - if comment.edit_time
                    .edited
                        - block edited
                            {% trans "Edited by:" %} {{ comment.editor }}, {{ comment.edit_time|date:"d.m.Y, H:i" }}            
                .pull-right
                    - block post_url
                        %a{href: '{{ comment.get_absolute_url }}'}
                            {% trans "#" %}