- load i18n

%table.table.forum-room-list
    %thead
        %tr
            %th{width: '40'}
                &nbsp;
            %th 
                {% trans "room" %}
            %th.hidden-phone{width: '80'} 
                {% trans "threads" %}
            %th.miniphone-hidden{width: '80'}
                {% trans "posts" %}
            %th.miniphone-hidden{width: '200'}
                {% trans "latest post" %}
    %tbody
        - for room in rooms
            %tr{class: '{% if room.deleted %}deleted-thread{%endif%}'}
                %td.forum-post-icon
                    - with unreaded=room.unreaded
                        - if unreaded
                            %a{href:'{{ unreaded.get_absolute_url }}'}
                                %img{src: '{{ STATIC_URL }}forum/img/unreadedmark.gif'}
                        - else
                            %img{src: '{{ STATIC_URL }}forum/img/readedmark.gif'}
                %td
                    .forum-post-description
                        %h4
                            %a{href: '{{ room.get_absolute_url }}'}
                                = room.title
                        - if room.body
                            .hidden-phone
                                = room.body|safe
                        - if room.moderators
                            %h6.moderators {% trans "Moderators" %}:
                            %ul.moderators
                                - for moderator in room.moderators
                                    <li><a href="{{ moderator.get_absolute_url }}">{{ moderator }}</a></li>
                        - if room.accessed_users
                            %h6.moderators {% trans "Opened for" %}:
                            %ul.moderators
                                - for accessed_user in room.accessed_users
                                    <li><a href="{{ accessed_user.get_absolute_url }}">{{ accessed_user }}</a></li>
                %td.hidden-phone
                    = room.threads_count
                %td.miniphone-hidden
                    = room.comments_count
                %td.miniphone-hidden
                    - with comment=room.last_comment
                        - include forum_site.templates.thread_latest_post
        - empty
            - if not parent_thread
                %tr
                    %td{colspan: '5'}
                        {% trans "No rooms in this group" %}