- load i18n

%table.table.forum-room-list
    %thead
        %tr
            %th{width: '40'}
                .td-text-left
            %th 
                .td-text-center
                    {% trans "room" %}
            %th.hidden-phone{width: '80'} 
                .td-text-center            
                    {% trans "threads" %}
            %th.miniphone-hidden{width: '80'}
                .td-text-center                
                    {% trans "posts" %}
            %th.miniphone-hidden{width: '200'}
                .td-text-right
                    {% trans "latest post" %}
        %tr{colspan: '5'}
            %td
                .bord1-center
                    .bord1-left
                    .bord1-right
    %tbody
        - for room in rooms
            %tr{class: '{% if room.deleted %}deleted-thread{%endif%}'}
                %td.forum-post-icon.td-bord
                    .td-text-left
                        - with unreaded=room.unreaded
                            - if unreaded
                                %a{href:'{{ unreaded.get_absolute_url }}'}
                                    %img{src: '{{ MEDIA_URL }}forum/unreadedmark.gif'}
                            - else
                                %img{src: '{{ MEDIA_URL }}forum/readedmark.gif'}
                %td
                    .forum-post-description.td-bord
                        .td-text-center
                            %h4
                                %a{href: '{{ room.get_absolute_url }}'}
                                    = room.title
                            - if room.body
                                .hidden-phone
                                    = room.body|safe
                            - if room.moderators
                                %h6.moderators {% trans "Moderators" %}:
                                %ul.moderators
                                    - for moderator in room.moderators
                                        <li><a href="{{ moderator.get_absolute_url }}">{{ moderator }}</a></li>
                            - if room.accessed_users
                                %h6.moderators {% trans "Opened for" %}:
                                %ul.moderators
                                    - for accessed_user in room.accessed_users
                                        <li><a href="{{ accessed_user.get_absolute_url }}">{{ accessed_user }}</a></li>
                %td.hidden-phone.td-bord
                    .td-text-center    
                        = room.threads_count
                %td.miniphone-hidden.td-bord
                    .td-text-center
                        = room.comments_count
                %td.miniphone-hidden.td-bord
                    .td-text-right
                        - with comment=room.last_comment
                            - include forum_site.templates.thread_latest_post
            %tr
                %td{colspan: '5'}
                    
        - empty
            - if not parent_thread
                %tr
                    %td{colspan: '5'}
                        {% trans "No rooms in this group" %}
