{% extends "admin/change_list.html" %} 
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Profiler reports"%}{% endblock %}

{% block content_title %}
    <script type="text/javascript" charset="utf-8">
        if (!jQuery) {var jQuery = grp.jQuery}
    </script>
    <h3 class="well page-top">
        {% trans "Profiler reports"%}
        <div id="time_period_selector_container" class="pull-right">
            <div id="time_period_selector" class="pull-right">
            </div>
        </div>
    </h3>
    {% include "profiler/snippets/time_selector.html" %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}profiler/css/profiler.css" />
    <div id="content-main">
        <div id="tabs">
            <ul>
                <li>
                    <a href="{% url 'profiler:auditory_report' %}">{% trans "Auditory" %}</a>
                </li>
                <li>
                    <a href="{% url 'profiler:browsers_report' %}">{% trans "Browsers" %}</a>
                </li>
                <li>
                    <a href="{% url 'profiler:loading_report' %}">{% trans "Loading" %}</a>
                </li>
                <li>
                    <a href="{% url 'profiler:oses_report' %}">{% trans "OSes" %}</a>
                </li>
                <li>
                    <a href="{% url 'profiler:modules_report' %}">{% trans "Modules" %}</a>
                </li>
                <li>
                    <a href="{% url 'profiler:mobiles_report' %}">{% trans "Mobiles" %}</a>
                </li>
                <li>
                    <a href="{% url 'profiler:devices_report' %}">{% trans "Devices" %}</a>
                </li>
                <li>
                    <a href="{% url 'profiler:distribution_report' %}">{% trans "Distribution" %}</a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $( "#tabs" ).tabs();
        })(jQuery);
    </script>

{% endblock %}