{% load i18n %}
<table class="table">
    <thead>
        <tr>
            <th >
                {{ graph.category_name|capfirst }}
            </th>
            <th width="50px">
                {{ graph.weight_name|capfirst }}
            </th>
            <th width="50px">
                {% trans "%" %}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% trans "All" %}</td>
            <td>{{ graph.weight }}</td>
            <td>100%</td>
        </tr>
    </tbody>
</table>
{% if graph.category_subfield %}
    <div id="{{ graph.id }}_accordion">
        {% for category in graph.data %}
            <div>
                <table class="table wide-table module_table module_table{{forloop.counter0}}">
                    <thead>
                        <tr>
                            <th >
                                {{ category.label }}
                            </th>
                            <th width="50px">
                                {{ category.weight }}
                            </th>
                            <th width="50px">
                                {{ category.percentage|floatformat:1 }}%
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div>
                <table class="table wide-table module_table module_table{{forloop.counter0}}">
                    <tbody>
                        {% for element in category.data %}
                            <tr>
                                <td>{{ element.name }}</td>
                                <td>{{ element.percentage|floatformat:1 }}%</td>
                                <td>{{ element.weight }}</td>
                                <td>{{ element.percentage_total|floatformat:1 }}%</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% else %}
    <table class="table wide-table module_table">
        <tbody>
            {% for category in graph.data %}
                <tr>
                    <td>{{ category.label }}</td>
                    <td>{{ category.weight }}</td>
                    <td>{{ category.percentage|floatformat:1 }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
