<script type="text/javascript" src="{{ STATIC_URL }}profiler/jit/jit.js"></script>
    
<script>
    (function($) {
        {% if graph.category_subfield %}
            $( "#{{ graph.id }}_accordion" ).accordion({ collapsible: true, heightStyleType: "content" });
        {% endif %}
        
        //init data
        var json = {
            "children": [
               {% for category in graph.data %}
               {
                 "children": [
                   {% for element in category.data %}
                   {
                     "children": [], 
                     "data": {
                       "label": "<b>{{ element.label }}</b><br/>{{ element.sublabel }}",
                       "$angularWidth": {{ element.weight }}, 
                       "$color": "{% cycle "#4bb2c5" "#EAA228" "#c5b47f" "#579575" "#839557" "#958c12" "#953579" "#4b5de4" "#d8b83f" "#ff5800" "#0085cc" "#c747a3" "#cddf54" "#FBD178" "#26B4E3" "#bd70c7" %}", 
                     }, 
                     "id": "{{ element.id }}", 
                     "name": "{{ element.label }}"
                   }, 
                   {% endfor %}
                 ], 
                 "data": {
                    "label": "<b>{{ category.label }}</b></br>{{ category.sublabel }}",
                   "$color": "{% cycle "#4bb2c5" "#EAA228" "#c5b47f" "#579575" "#839557" "#958c12" "#953579" "#4b5de4" "#d8b83f" "#ff5800" "#0085cc" "#c747a3" "#cddf54" "#FBD178" "#26B4E3" "#bd70c7" %}", 
                   "$angularWidth": {{ category.weight }}, 
                 }, 
                 "id": "{{ category.id }}", 
                 "name": "{{ category.label }}"
               }, 
               {% endfor %}
            ],
            "id": "{{ graph.id }}", 
            "name": "{{ graph.name }}"
        };
        
        var labelType, useGradients, nativeTextSupport, animate;
        
        (function() {
          var ua = navigator.userAgent,
              iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
              typeOfCanvas = typeof HTMLCanvasElement,
              nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
              textSupport = nativeCanvasSupport 
                && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
          //I'm setting this based on the fact that ExCanvas provides text support for IE
          //and that as of today iPhone/iPad current text support is lame
          labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
          nativeTextSupport = labelType == 'Native';
          useGradients = nativeCanvasSupport;
          animate = !(iStuff || !nativeCanvasSupport);
        })();
        
        //init Sunburst
        var sb = new $jit.Sunburst({
                //id container for the visualization
                injectInto: '{{ graph.id }}div',
                //Distance between levels
                levelDistance: 90,
                //Change node and edge styles such as
                //color, width and dimensions.
                Node: {
                  overridable: true,
                  type: useGradients? 'gradient-multipie' : 'multipie'
                },
                //Select canvas labels
                //'HTML', 'SVG' and 'Native' are possible options
                Label: {
                  type: labelType
                },
                //Change styles when hovering and clicking nodes
                NodeStyles: {
                  enable: true,
                  type: 'Native',
                  stylesClick: {
                    'color': '#33dddd'
                  },
                  stylesHover: {
                    'color': '#dd3333'
                  }
                },
                //Add tooltips
                Tips: {
                  enable: true,
                  onShow: function(tip, node) {
                    var html = ""; 
                    var data = node.data;
                    if("label" in data) {
                      html = data.label;
                    } else {
                        html = node.name;
                    }
                    html = "<div class=\"tip-title\">" + html + "</div>"; 
                    tip.innerHTML = html;
                  }
                },
                //implement event handlers
                Events: {
                  enable: true,
                  onClick: function(node) {
                    if(!node) return;
                    //hide tip
                    sb.tips.hide();
                    //rotate
                    sb.rotate(node, animate? 'animate' : 'replot', {
                      duration: 1000,
                      transition: $jit.Trans.Quart.easeInOut
                    });
                  }
                },
                // Only used when Label type is 'HTML' or 'SVG'
                // Add text to the labels. 
                // This method is only triggered on label creation
                onCreateLabel: function(domElement, node){
                  var labels = sb.config.Label.type,
                      aw = node.getData('angularWidth');
                  if (labels === 'HTML' && (node._depth < 2 || aw > 2000)) {
                    domElement.innerHTML = node.name;
                  } else if (labels === 'SVG' && (node._depth < 2 || aw > 2000)) {
                    domElement.firstChild.appendChild(document.createTextNode(node.name));
                  }
                },
                // Only used when Label type is 'HTML' or 'SVG'
                // Change node styles when labels are placed
                // or moved.
                onPlaceLabel: function(domElement, node){
                  var labels = sb.config.Label.type;
                  if (labels === 'SVG') {
                    var fch = domElement.firstChild;
                    var style = fch.style;
                    style.display = '';
                    style.cursor = 'pointer';
                    style.fontSize = "0.8em";
                    fch.setAttribute('fill', "#fff");
                  } else if (labels === 'HTML') {
                    var style = domElement.style;
                    style.display = '';
                    style.cursor = 'pointer';
                    style.fontSize = "0.8em";
                    style.color = "#ddd";
                    var left = parseInt(style.left);
                    var w = domElement.offsetWidth;
                    style.left = (left - w / 2) + 'px';
                  }
                }
           });
            //load JSON data.
            sb.loadJSON(json);
            //compute positions and plot.
            sb.refresh();
            //end
    })(jQuery);
</script>