{% load i18n %}
<table class="table">
    <tbody>
        <tr>
            <td>{% trans "Create time" %}</td>
            <td>
                <b>
                   {{ original.create_time }}
                </b>
            </td>
        </tr>
        <tr>
            <td>{% trans "Level" %}</td>
            <td>
                <b>
                   {{ original.get_level_display }}
                </b>
            </td>
        </tr>
        <tr>
            <td>{% trans "Logger" %}</td>
            <td>
                <b>
                   {{ original.logger_name }}
                </b>
            </td>
        </tr>
        <tr>
            <td>{% trans "Module" %}</td>
            <td>
                <b>
                   {{ original.module_name }}
                </b>
            </td>
        </tr>
        <tr>
            <td>{% trans "Text" %}</td>
            <td>
                <b>
                   {{ original.body }}
                </b>
            </td>
        </tr>
    </tbody>
</table>
