- extends 'base.haml'
- load i18n

- block breadcrumbs
    %ul.breadcrumb
        %li
            - include 'home_link.haml'
        %li
            %a{'href': '{% url players:index %}'}
                {% trans "players" %}
        %li
            %a{'href': '{% url players:profile %}'}
                {% trans "Your profile" %}
        %li
            %a{'href': '{% url pm:index %}'}
                {% trans "Private messages" %}
        %li
            %a{'href': '{% url pm:outbox %}'}
                {% trans "Outbox" %}

- block caption
    {% trans "Outbox" %}

- block content
    - if private_messages
        - include 'pm/snippets/message_list.haml'
    - else
        .alert.alert-info
            {% trans "Your outbox is empty" %}