<div>
    <img v-if="loading" src="/static/forum/img/loading.gif">
    <div v-if="!loading&&voting" class="voting">
        <div class="float-right" v-if="editor">
            <button class="btn btn-secondary" @click="on_editor_edit()">
                <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                </svg>
            </button>
            <button class="btn btn-danger" @click="on_editor_delete()">
                <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                </svg>
            </button>
        </div>
        <h4 v-html="voting.name"></h4>
        <div v-html="voting.body" v-if="voting.body"></div>
        <br v-if="!voting.body">

        <div v-if="voting.choices.with_results || show_results">
            <div v-for="item in voting.choices.items" :key="item.id">
                <br>
                <span v-html="item.name"></span>
                <br>
                <div class="voting-bar" :style="'width: ' + Math.round(Math.max(item.percent*2,1)) + 'px'"></div>
                {{ item.count }} ({{item.percent}}%)
                <br>
            </div>
        </div>
        <div v-if="voting.choice && !voting.choices.with_results">
            <br>
            <b>Результаты голосования скрыты до его завершения</b>
        </div>
        <br>
        Всего голосов: {{ voting.choices.votes }}
        <br>
        <br>
        <div v-if="voting.choice">
            <div v-if="voting.choice">
                Вы проголосовали за: {{ voting.choice.name }}
            </div>
            <div v-if="!voting.choice">Вы не можете голосовать.</div>
        </div>
        <form v-if="(!voting.choice) && (!voting.choices.with_results) && (!show_results)">
            <div v-for="item in voting.choices.items" :key="item.id">
                <input type="radio" :name="'voting-radio-' + item.id" :value="item.id" v-model="choice">
                {{ item.name }}
                <br>
            </div>
            <br>
            <input v-if="voting.preview_results && !show_results" type="button" value="Показать результаты" v-on:click="show_results=true">
            <input v-if="!show_results" type="button" value="Голосовать" v-on:click="do_vote()">
        </form>
        <input v-if="show_results" type="button" value="Перейти к голосованию" v-on:click="show_results=false">
        <input v-if="(!voting.closed)&&comment.edit_right" type="button" value="Завершить голосование" @click="close_voting()">
    </div>
    <b-modal :title="comment.media.voting ? 'Править голосование' : 'Добавить голосование'"
             size="lg" centered ref="modal" hide-footer>
        <b-form ref="modal_form" v-if="editor" @submit.prevent.stop="on_modal_submit">

            <div class="row">
                <label class="col-2 col-form-label" for="add_voting_name">
                    <b>Заголовок:</b>
                </label>
                <div class="col-10">
                    <input v-model="add_form.name" id="add_voting_name" required class="form-control" minlength="1"></input>
                </div>
            </div>
            <div class="row">
                <label class="col-2 col-form-label">
                    <b>Текст:</b>
                </label>
                <div class="col-10">
                    <tulius_ckeditor v-model="add_form.body"></tulius_ckeditor>
                </div>
            </div>
            <div class="row">
                <label class="col-6 col-form-label">
                    <input type="checkbox" v-model="add_form.show_results">
                    <b>Показывать результаты до закрытия</b>
                </label>
                <label class="col-6 col-form-label">
                    <input type="checkbox" class="form-check-input" v-model="add_form.preview_results">
                    <b>Кнопка предпросмотра результатов</b>
                </label>
            </div>
            <div class="row">
                <label class="col-11 col-form-label">
                    <b>Варианты ответов:</b>
                </label>
                <div class="col-1">
                    <button type="button" class="btn btn-success" @click="add_form.choices.items.push({name: ''})">
                        <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="row" v-for="(item, num) in add_form.choices.items">
                <div class="col-11">
                    <input v-model="item.name" required class="form-control">
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-danger" v-if="add_form.choices.items.length > 1"
                            @click="add_form.choices.items.splice(num, 1)">
                        <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <footer class="modal-footer" style="margin-top: 1em;padding:0em;">
                <button type="button" class="btn btn-secondary" @click="$refs.modal.hide()">Отмена</button>
                <button type="submit" class="btn btn-primary">OK</button>
            </footer>
        </b-form>
    </b-modal>

</div>