{% load i18n %}

<a data-toggle="modal" href="#attachFile">
    {% trans "Attach file" %}
</a>
<form id="attachFile" class="modal hide fade in well form-horizontal" enctype="multipart/form-data" method="POST" action="?action=attach_file">
    {% csrf_token %}
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>{% trans "Attach file" %}</h3>
    </div>
    <div id="attachFile_body" class="modal-body">
        {% include "bugtracker/snippets/issue/form_fields.html" with form=attach_file_form %}
    </div>
    <div id="attachFile_footer" class="modal-footer">
         <button class="submit btn btn-primary">
             {% trans "Attach" %}
         </button>
    </div>
</form>
<br />
{% if not issue.jira_url %}
    {% if not issue.resolution %}
        {% if request.user.is_superuser %}
            <a data-toggle="modal" href="#resolveForm">
                {% trans "Resolve issue" %}
            </a>
            <form id="resolveForm" class="modal hide fade in well form-horizontal" enctype="multipart/form-data" method="POST" action="?action=resolve">
                {% csrf_token %}
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">x</a>
                    <h3>{% trans "Resolve issue" %}</h3>
                </div>
                <div id="resolveForm_body" class="modal-body">
                    {% include "bugtracker/snippets/issue/form_fields.html" with form=resolve_issue_form %}
                </div>
                <div id="resolveForm_footer" class="modal-footer">
                    <button class="submit btn btn-primary">
                        {% trans "Resolve" %}
                    </button>
                </div>
            </form>
            <br />
            <a data-toggle="modal" href="#sendToJiraModal">
                {% trans "Send to Jira" %}
            </a>
            <div id="sendToJiraModal" class="modal hide fade in well">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">x</a>
                    <h3>{% trans "Send to Jira" %}</h3>
                </div>
                <div class="modal-body">
                    <p>{% trans "This will send issue information to developers and transform it to Jira issue." %}</p>
                    <p>{% trans "This operation cannot be reverted. Are you sure?" %}</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="?action=post_to_jira">
                        {% trans "Send" %}
                    </a>
                    <a class="btn" data-dismiss="modal">
                        {% trans "Cancel" %}
                    </a>
                </div>
            </div>
            <br />
        {% endif %}
    {% endif %}
{% endif %}
{% if issue.resolution %}
    {% if request.user.is_superuser %}
        <a data-toggle="modal" href="#reopenForm">
            {% trans "Reopen issue" %}
        </a>
        <form id="reopenForm" class="modal hide fade in well form-horizontal" enctype="multipart/form-data" method="POST" action="?action=reopen">
            {% csrf_token %}
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
                <h3>{% trans "Reopen issue" %}</h3>
            </div>
            <div id="reopenForm_body" class="modal-body">
                {% include "bugtracker/snippets/issue/form_fields.html" with form=reopen_issue_form %}
            </div>
            <div id="reopenForm_footer" class="modal-footer">
                <button class="submit btn btn-primary">
                    {% trans "Resolve" %}
                </button>
            </div>
        </form>
        <br />
    {% endif %}
{% endif %}

{% if issue.jira_url %}
    <a href="?action=sync">
        {% trans "Syncronize" %}
    </a>
{% endif %}