{% load i18n %}

<table>
    {% for file in issue.files.all %}
        <tr>
            <td>
                <a href="{{ file.body.url }}">
                    {{ file.name }}
                </a>
            </td>
            <td> {{ file.upload_time }} </td>
        </tr>
    {% endfor %}
    {% for file in issue.attachments.all %}
        <tr>
            <td>
                <a href="{{ file.content }}">
                    {{ file.file_name }}
                    {% if file.thumbnail %}
                        <br />
                        <br />
                        <img src="{{ file.thumbnail }}" />
                    {% endif %}
                </a>
            </td>
            <td> {{ file.create_time }} </td>
        </tr>
    {% endfor %}
</table>