{% for field in form %}
    <fieldset class="control-group{% if field.errors %} error {% endif %}{% if field.field.required %} required {% endif %}">
        <div class="control-label">
            {{ field.label_tag }}
        </div>
        <div class="controls">
            {{ field }}
            {% if field.errors %}
                <div class="help-inline">
                    {{ field.errors }}
                </div>
            {% endif %}
            {% if field.help_text %}
                <div class="help-block">
                    {{ field.help_text }}
                </div>
            {% endif %}
        </div>
    </fieldset>
{% endfor %}