{% load i18n %}
{% load bugtracker %}
<table class="links-table">
    {% for link in issue.outward_links.all %}
        <tr>
            <td>{{ link.link_type.outward }}</td>
            <td>
                <img src="{{ link.outward.bug_type.icon.url }}" title="{{ link.outward.bug_type.icon.name }}" />
                {% if link.outward.id %}
                    <a {% if iframe %}target="_parent" {%endif%}href="{% bug_url link.outward.id %}">
                        {{ link.outward.key }}
                        {{ link.outward.summary }}
                    </a>
                {% else %}
                    {{ link.outward.key }}
                    {{ link.outward.summary }}
                {% endif %}
            </td>
            <td>
                <img src="{{ link.outward.status.icon.url }}" />
                {{ link.outward.status.name }}
            </td>
            <td>
                {% include 'bugtracker/snippets/issue/jira_user.html' with jira_user=link.outward.assignee %}
            </td>
        </tr>
    {% endfor %}
    {% for link in issue.inward_links.all %}
        <tr>
            <td>{{ link.link_type.inward }}</td>
            <td>
                <img src="{{ link.inward.bug_type.icon.url }}" title="{{ link.inward.bug_type.icon.name }}" />
                {% if link.inward.id %}
                    <a {% if iframe %}target="_parent" {%endif%}href="{% bug_url link.inward.id %}">
                        {{ link.inward.key }}
                        {{ link.inward.summary }}
                    </a>
                {% else %}
                    {{ link.inward.key }}
                    {{ link.inward.summary }}
                {% endif %}
            </td>
            <td>
                <img src="{{ link.inward.status.icon.url }}" />
                {{ link.inward.status.name }}
            </td>
            <td>
                {% include 'bugtracker/snippets/issue/jira_user.html' with jira_user=link.inward.assignee %}
            </td>
        </tr>
    {% endfor %}
</table>