{% load i18n %}
{% load bugtracker %}

<table>
    {% for subtask in issue.subtask.all %}
        <tr>
            <td>
                <img src="{{ subtask.task.bug_type.icon.url }}" title="{{ subtask.task.bug_type.name }}" />
                <a {% if iframe %}target="_parent" {%endif%}href="{% bug_url subtask.task.id %}">
                    {{ subtask.task.key }}
                    {{ subtask.task.summary }}
                </a>
            </td>
            <td>
                <img src="{{ subtask.task.status.icon.url }}" />
                {{ subtask.task.status.name }}
            </td>
            <td>
                {% with jira_user=subtask.task.assignee %}
                    {% if jira_user %}
                        {% if jira_user.get_absolute_url %}
                            <a href="{{ jira_user.get_absolute_url }}">
                                {{ jira_user }}
                            </a>
                        {% else %}
                            {{ jira_user }}
                        {% endif %}
                    {% else %}
                        {% trans "Not assigned" %}
                    {% endif %}
                {% endwith %}
            </td>
        </tr>
    {% endfor %}
</table>