<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="http://vk.com/kozzztik" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <link rel="SHORTCUT ICON" href="{{ STATIC_URL }}favicon.ico" />
        <title></title>

        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}common/bootstrap4/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}common/bootstrap-vue/bootstrap-vue.min.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}common/css/bootstrap-fix.css" />

        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}tulius/css/tulius2015.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}tulius/css/tulius.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}tulius/css/baselayout.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}tulius/css/tulius-main.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}common/components/breadcrumbs.css" />

        <link rel="stylesheet" href="{{ STATIC_URL }}forum/css/tulius-forum.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}common/css/vue-loading.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}common/components/vue-multiselect.min.css" type="text/css">

        <script type="text/javascript" src="{{ STATIC_URL }}ckeditor4/ckeditor.js"></script>
    </head>
    <body class="bootstrap4">
        <div id="vue_app">
            <main_menu :user="user"></main_menu>
            <loading :active="loading" :is-full-page="true"></loading>
            <div id="content-center" class="container">
                <breadcrumbs upper="true" :items="breadcrumb_items" v-if="!loading"></breadcrumbs>
                <div id="notification_messages">
                    <b-alert v-for="(message, index) in messages" :variant="message.tag" dismissible show :key="index">
                        <span v-html="message.text"></span>
                    </b-alert>
                </div>
                <router-view></router-view>
                <breadcrumbs :upper="false" :items="breadcrumb_items" v-if="!loading"></breadcrumbs>
                <footer v-if="show_footer" v-html="footer_content"></footer>
            </div>
            <script type="module" src="{{ index_bundle }}"></script>
        </div>
    </body>
</html>
