- extends 'html5_empty.html'
- load i18n
- load repeatblock
- enablemacros

- block sitewide_styles
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}common/jquery-lightbox/css/lightbox.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}tulius/css/tulius2015.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}tulius/css/tulius.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}tulius/css/baselayout.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}tulius/css/tulius-main.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}common/rcrumbs/jquery.rcrumbs.min.css'}

- block sitewide_scripts
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}common/js/jquery.cookie.js'}
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}common/js/jquery.history.js'}
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}common/jquery-lightbox/js/lightbox.js'}
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}common/js/autocomplete-select.js'}
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}common/rcrumbs/jquery.rcrumbs.min.js'}
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}websockets/ws4redis.js'}
    <script type='text/javascript'>
        var websocket_uri = '{{ WEBSOCKET_URI }}';
        {% if not request.user.is_anonymous %}
        var last_read_pm_id = {{ request.user.last_read_pm_id }};
        {% else %}
        var last_read_pm_id = 0;
        {% endif %}
    </script>
        %script{type: 'text/javascript', src: '{{ STATIC_URL }}websockets/websockets.js'}
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}tulius/js/menu.js'}
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}common/js/jquery.formset.js'}

    - block extra_scripts
    
- block body
    %body{class: '{% block body_class %}{% endblock %}'}
        - block main_menu
            - include "menu.haml"
        - block body_main_area
            #content-center.container
                - block breadcrumbs_block
                    #top-breadcrumbs.rcrumbs
                        %ul.breadcrumb
                            %li
                                %a{href: '/'}
                                    .homelink
                            - block breadcrumbs
                    .breadcrumbs-border
                #top-center
                    - if messages
                        - for message in messages
                            %div{class: 'alert alert-{{ message.tags }}'}
                                %button.close{type: "button", data-dismiss: "alert"}&times;
                                = message
                - block custom_content
                    .content
                        .caption{align: "center"}
                            .captionleft
                            .captioncontent
                                - block caption
                            .captionright
                        - block content
                - block bottom_breadcrumbs
                    #bottom-breadcrumbs.rcrumbs
                        .breadcrumbs-border
                        %ul.breadcrumb
                            %li
                                %a{href: '/'}
                                    .homelink
                            - repeat breadcrumbs
                - block footer
                  %footer.footer
                    .container.newcontainer
                        - block footer_content
                            %p.pull-left
                                &copy;
                                %a{href: '/'}
                                    Tulius.Com
                                2005-2020
                            - if datablocks.usage_rules
                                %p
                                    %a{href: '{{ datablocks.usage_rules }}'}
                                        {% trans "Service usage rules" %}
                            - if datablocks.confident
                                %p
                                    %a{href: '{{ datablocks.confident }}'}
                                        {% trans "Confidential policy" %}
        - block modals
            - block login_modal
                %form#loginModal.modal.hide.fade.in.well{method: 'POST', action: '{% url "auth:login" %}'}
                    - csrf_token
                    .modal-header
                        %a.close{data-dismiss: "modal"}×
                        %h3
                            {% trans "Login" %}
                    .modal-body
                        - include "login/snippets/login.haml"
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $(".rcrumbs").rcrumbs({nbFixedCrumbs: 1, nbUncollapsableCrumbs: 1});
        });
    </script>
- block title
    - repeat caption