- load i18n

.menu
    %a.brand_icon{href: '/'}
        %img{src: '{{ STATIC_URL }}tulius/img/logo.png'}
    - if not request.user.is_anonymous
        .menu-notif-list
            %a{href: '{% url "pm:messages" %}'}
                - if request.user.not_readed_messages
                    .new_messages.active{title: '{% trans "You have new messages!" %}'}
                - else
                    .new_messages{title: '{% trans "You have no new messages." %}'}
            %a{href: '{% url "profile:invites" %}'}
                - if request.user.new_invites
                    .new_invites.active{title: '{% trans "You have new invites!" %}'}
                - else
                    .new_invites{title: '{% trans "You have no invites." %}'}
    %ul.menu-list
        %li
            %a.catalog{href: '#', data-toggle: '#catalog-menu', title: '{% trans "Sections" %}'}
        - if not request.user.is_anonymous
            %li
                %a.profile{href: '#', data-toggle: '#profile-menu', title: '{% trans "Profile" %}'}
        %li
            %a.articles{href: '#', data-toggle: '#articles-menu', title: '{% trans "Articles" %}'}
        - if request.user.is_superuser
            %li
                %a.admin{href: '#', data-toggle: '#admin-menu', title: '{% trans "Admin panel" %}'}
    - if request.user.is_superuser
        %ul.menu-scroll
            %li
                %a.scroll-up{href: '#', title: '{% trans "Go to page top" %}'}
            %li
                %a.scroll-down{href: '#', title: '{% trans "Go to page bottom" %}'}
    %ul.menu-login
        - if not request.user.is_anonymous
            %li
                %a.logout{href: '{% url "auth:logout" %}', title: '{% trans "Logout" %}'}
        - else
            %li
                %a.login.hidden-phone{data-toggle: 'modal', href: '#loginModal', title: '{% trans "Login" %}'}
                %a.login.visible-phone{href: '{% url "auth:login_choose" %}', title: '{% trans "Login" %}'}
%ul#catalog-menu.sub-menu
    %li.header
        {% trans "Sections" %}
    %li
        %a{href: '{% url "games:index" %}'}
            {% trans "Games" %}
        %ul
            %li
                %a{href: '{% url "games:announced_games" %}'}
                    {% trans "Announced games" %}
            %li
                %a{href: '{% url "games:request_accepting_games" %}'}
                    {% trans "Accepting requests" %}
            %li
                %a{href: '{% url "games:awaiting_start_games" %}'}
                    {% trans "Awaiting start" %}
            %li
                %a{href: '{% url "games:current_games" %}'}
                    {% trans "Current games" %}
            %li
                %a{href: '{% url "games:completed_opened_games" %}'}
                    {% trans "Opened completed" %}
    %li
        %a{href: '{% url "players:index" %}'}
           {% trans "Players" %}
    %li
        %a{href: '{% url "stories:index" %}'}
            {% trans "Stories" %}
    %li
        %a{href: '{% url "forum:index" %}'}
            {% trans "Forums" %}
    %li
        %a{href: '{% url "news:index" %}'}
            {% trans "News" %}
- if not request.user.is_anonymous
    %ul#profile-menu.sub-menu
        %li.header
            {% trans "Profile" %}
        %li
            - with player=request.user
                - include 'players/snippets/avatar.haml'
        %li.player-info
                = request.user.username
                - with player=request.user
                    - include 'players/snippets/stars.haml'
                - if request.user.rank
                    = request.user.rank
        %li
            %a{href: '{% url "players:profile" %}'}
                {% trans "Profile" %}
        %li
            %a{href: '{% url "pm:messages" %}'}
                {% trans "Messages" %}
        %li
            %a{href: '{% url "profile:favorites" %}'}
                {% trans "Favorites" %}
        %li
            %a{href: '{% url "profile:stories" %}'}
                {% trans "Stories" %}
        %li
            %a{href: '{% url "profile:games" %}'}
                {% trans "Games" %}
        %li
            %a{href: '{% url "profile:settings" %}'}
                {% trans "Settings" %}
        %li
            %a{href: '{% url "profile:found_bugs" %}'}
                {% trans "Problems" %}
        %li
            %a{href: '{% url "profile:subscriptions" %}'}
                {% trans "Subscriptions" %}
        %li
            %a.profile-logout{href: '{% url "auth:logout" %}'}
                {% trans "Logout" %}
%ul#articles-menu.sub-menu
    %li.header
        {% trans "Articles" %}
    %li
        %a{href: '{% url "flatpages" %}'}
            {% trans "All articles" %}
    %li.divider
    - for flatpage in flatpages
        - if flatpage.show_on_home
            %li
                %a{href: '{{ flatpage.url }}'}
                    = flatpage.title
- if request.user.is_superuser
    %ul#admin-menu.sub-menu
        %li.header
            {% trans "Admin panel" %}
        %li
            %a{href: '{% url "counters:index"%}'}
                {% trans "Counters" %}
        %li
            %a{href: '{% url "players:player_exceptions" user.id %}'}
                {% trans "Your exceptions" %}
        %li
            %a{href: '{% url "admin:index" %}'}
                {% trans "Django admin site" %}
        %li
            %a{href: '{% url "bugs:bugtracker_main" %}'}
                {% trans "Bugtracker" %}
        %li
            %a{href: '{% url "bugs:complaints" %}'}
                {% trans "Complaints" %}
        %li
            %a{data-toggle: 'modal', href: '#reloginModal'}
                {% trans "Switch user" %}
.menu-background