- extends 'base.haml'
- load i18n

- block content

	%form.well.form-inline{'action': '', 'method': 'POST', 'style': 'text-align: center;'}
		- csrf_token
		= form
		%button.btn.btn-info{'type': 'submit'}
			{% trans "Login" %}
