- load i18n 
.ajax-form
    .modal-body
        - if form.non_field_errors
            .alert.alert-error
                = form.non_field_errors
        - with form=inviteform
            -include 'snippets/form_fields_only.haml'
