{% load bbcodes i18n %}
{% load url from future %}
<script src="{{ STATIC_URL }}wysibb/jquery.wysibb.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}wysibb/theme/default/wbbtheme.css" type="text/css" />

<script>

function wysibb_image_load() {
    this.$modal.find("#imguploader").dragfileupload({
        url: this.strf(this.options.img_uploadurl,this.options),
        extraParams: {
            maxwidth: this.options.img_maxwidth,
            maxheight: this.options.img_maxheight
        },
        themePrefix: this.options.themePrefix,
        themeName: this.options.themeName,
        success: $.proxy(function(data) {
            this.$txtArea.insertImage(data.image_link,data.thumb_link);
            this.closeModal();
            this.updateUI();
         },this)
    });
                
    if (!$.support.htmlSerialize) {
        //ie not posting form by security reason, show default file upload
        $.log("IE not posting form by security reason, show default file upload");
        this.$modal.find("#nicebtn").hide();
        this.$modal.find("#fileupl").css("opacity",1);
    }
                
    this.$modal.find("#fileupl").bind("change",function() {
        $("#fupform").submit();
    });
    
    this.$modal.find("#fupform").bind("submit",$.proxy(function(e) {
        $(e.target).parents("#imguploader").hide().after('<div class="loader"><img src="'+this.options.themePrefix+'/'+this.options.themeName+'/img/loader.gif" /><br/><span>'+CURLANG.loading+'</span></div>').parent().css("text-align","center");
        this.$modal.find("#fupform").ajaxSubmit({
            url: this.strf(this.options.img_uploadurl,this.options),
            success: $.proxy(function(data) {
                this.$txtArea.insertImage(data.image_link,data.thumb_link);
                this.closeModal();
                this.updateUI();
            },this),
            dataType: 'json'
        });
    },this))
}

$.fn.insertFileLink = function(fileurl,filename) {
    var editor = this.data("wbb");
    var code = editor.getCodeByCommand('link',{url:fileurl,seltext: filename})
    this.insertAtCursor(code);
    return editor;
}

function wysibb_file_load() {
    this.$modal.find("#fupfileform").ajaxSubmit({
        url: "{% url 'wysibb:upload_file' %}",
        success: $.proxy(function(data) {
            this.$txtArea.insertFileLink(data.url,data.filename);
            this.closeModal();
            this.updateUI();
        },this),
        dataType: 'json'
    });
}

var id="wysibbid";
var wbbOpt = {
    buttons:  "bold,italic,underline,strike,|,img,video,myfile,link,|,bullist,numlist,|,smilebox,|,fontcolor,fontsize,|,quote,table,removeFormat",
    smileList: [{% bbcode_smiles_list %}],
    img_uploadurl: "{% url 'wysibb:upload_image' %}",
    minheight: "100",
    allButtons: {
        myfile : {
            title: "{% trans "Add file" %}",
            buttonHTML: '<span class="fonticon ve-tlb-img1"><img src="{{ STATIC_URL }}wysibb/filebutton.gif"/></span>',
            modal: {
                title: "{% trans "Add file" %}",
                width: "600px",
                tabs: [
                    {
                        title: "",
                        html: '<form id="fupfileform" class="upload" method="post" enctype="multipart/form-data"><input id="fileupl" class="file" type="file" name="img" /></form>'
                    }
                ],
                onSubmit: wysibb_file_load,
            },
            transform : {'<a href="{URL}">{FILENAME}</a>':"[url={URL}]{FILENAME}[/url]",}
        },

    }
}

$(document).ready(function() {
    $("textarea").wysibb(wbbOpt);
});
</script>