- extends 'forum/base.haml'
- load i18n
- load url from future

- block breadcrumbs
    <a href="{% url "forum:index" %}">{% trans "forums" %}</a>
    {% trans "Access denied" %}
        
- block caption
        {% trans "Access denied" %}
    
- block forum_content
        {% trans "You have no access to this page" %}
        %br
        %br
