- load i18n
- load bbcodes
%table.post-table.content
        %tr
            %td.post-avatar
                {% trans "Previewed message" %}
                .player-avatar
                    .player-avatar-image
                        %img
            %td.post-body
                %table.wide.vertical-center
                    %tr.post-head
                        %td.post-title
                            - block post_title
                                %h4
                                    = title
                        %td.post-time
                            = create_time|date:"d.m.Y, H:i"
                    %tr.post-body-content
                        %td{colspan: '2'}
                            = body|bbcode|safe
        %tr
            %td.post-url
                %a{href: '#'}
                    {% trans "Up" %}
            %td.post-actions
