- extends forum_site.templates.base
- load i18n

- block forum_content
    - if rooms
        .content
            .caption{align:"center"}
                .captionleft
                .captioncontent
                    {% trans "Rooms" %}
                .captionright
            - include forum_site.templates.room_list
    - if threads
        .content
            .caption{align: "center"}
                .captionleft
                .captioncontent
                    {% trans "Threads" %}
                .captionright
            - include forum_site.templates.thread_list
    - if not rooms
        - if not threads
            .content
                %br
                {% trans "This room is empty." %}
                %br
                %br
