- extends 'forum/base.haml'
- load i18n

- block caption
    {% trans "search results" %}

- block title
    {% trans "search results" %}

- block breadcrumbs
    %a{href: '{{ parent_thread.get_absolute_url }}'}
        = parent_thread.title
    %a{href: '{{ parent_thread.extended_search_url }}'}
        {% trans "search results" %}
                
- block upper_actions
    #search_filter.content.form-horizontal
        %fieldset.control-group
            .control-label
                %a{href: '{{ parent_thread.extended_search_url }}'}
                    {% trans "Search conditions:" %}
            .controls
                - for cond in conditions
                    .btn.btn-success
                        = cond
- block forum_content
    - for comment in search_results
        - include 'forum/snippets/searched_post.haml'