- extends 'base.haml'
- load i18n

- block additional_styles
    %link{href: "{{ MEDIA_URL }}forum/select2/css/select2.min.css", rel: "stylesheet"}

- block additional_scripts
    %script{src: "{{ MEDIA_URL }}forum/select2/js/select2.min.js"}
    %script{src: "{{ MEDIA_URL }}forum/select2/js/i18n/ru.js"}
    %script{src: "{{ MEDIA_URL }}forum/datepicker-ru.js"}
    
- block caption
    {% trans "Search" %}

- block title
    {% trans "Search" %}

- block breadcrumbs
    %li
        .divider
        %a{href: '{{ parent_thread.get_absolute_url }}'}
            = parent_thread.title
    %li
        .divider
        %a{href: ''}
            {% trans "Search" %}
    
- block content
    - include 'snippets/form.haml'
    <script>
        $(function() {
            $('#id_users').select2({
                ajax: {
                    url: "{{core.search_variants}}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 3,
            });
            $('#id_not_users').select2({
                ajax: {
                    url: "{{core.search_variants}}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 3,
            });
            var v = $.datepicker.regional[ "ru" ];
            $("#id_date_from" ).datepicker(datepicker_regional);
            $("#id_date_to" ).datepicker(datepicker_regional);
        });
    </script>
