- extends forum_site.templates.base
- load i18n

- block page_scripts
    %script{type: 'text/javascript', src: '{{ MEDIA_URL }}js/jquery.scrollintoview.min.js'}
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}forum/likes.js'}
    %script{type: 'text/javascript', src: '{{ MEDIA_URL }}js/jquery.selection.js'}
    %script{type: 'text/javascript', src: '{{ MEDIA_URL }}forum/fast-reply.js'}
    %script{type: 'text/javascript', src: '{{ MEDIA_URL }}forum/preview.js'}
    %script{type: 'text/javascript', src: '{{ MEDIA_URL }}forum/comments.js'}
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}forum/likes.js'}
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}forum/voting.js'}
    - if not request.user.is_anonymous
        %script{type: 'text/javascript'}
            var like_options = {
                'wait_caption': '{% trans "Wait..." %}', 
                'error_caption': '{% trans "Error" %}',
                'like_image': '{{ MEDIA_URL }}forum/unlike.gif',
                'dislike_image': '{{ MEDIA_URL }}forum/like.gif',
                'url': '{{ forum_site.urlizer.like }}'
                };
            var animation_speed = {{request.user.animation_speed}};
            var vote_options = {
                'preview_url': '{{ forum_site.urlizer.voting_preview }}',
                'url': '{{ forum_site.urlizer.vote }}'
                };
    %script{type: 'text/javascript'}
        var comments_url = "{{ parent_thread.comments_page_url }}";
        var comments_page = {{ page }};
        var unreaded_comments = [
            - for comment_data in thread.unreaded_comments
                [{{ comment_data.0 }}, {{ comment_data.1 }}],
            ];
        
    - include forum_site.templates.init_editor
    
- block forum_content

    #toppagination.pagination_container
        {{ pagination }}
    
    #comments_container
        - include forum_site.templates.comments
                
    #bottompagination.pagination_container
        {{ pagination_bottom }}
    
    - if not request.user.is_anonimous
        #refreshcomments
            %a#refresh{href: "javascript:refresh_page()"}
            %a#first_unreaded{style: "{% if not thread.unreaded_comments %}display: none{% endif %}", href: "javascript:first_unreaded()"}
                {{ thread.unreaded_comments|length }}
            
    - if reply_form
        #replyform_placement
            #replyformroot
                #post-preview{style: 'display: none'}
                %table#replyformtable.post-table.content
                    %tr
                        %td
                            #replyform_container
                                - block fast_reply_form
                                    - include forum_site.templates.fast_reply
                            #replyform_loading{style: 'display: none;'}
                                #replyform_loading_container
                                    %img{src: '{{ MEDIA_URL }}forum/img/loading.gif'}
                                        {% trans "Loading..." %}