<div>
    <forum_thread_actions v-if="!loading" :thread="thread"></forum_thread_actions>
    <div v-if="thread.rooms.length > 0" class="content">
        <div class="caption" align="center">
            <div class="captionleft"></div>
            <div class="captioncontent">
                Удаленные комнаты
            </div>
            <div class="captionright"></div>
        </div>
        <forum_room_list :rooms="thread.rooms"></forum_room_list>
    </div>
    <div v-if="thread.threads.length > 0" class="content">
        <div class="caption" align="center">
            <div class="captionleft"></div>
            <div class="captioncontent">
                Удаленные темы
            </div>
            <div class="captionright"></div>
        </div>
        <forum_thread_list :threads="thread.threads"></forum_thread_list>
    </div>
    <div v-if="!loading && (thread.rooms.length == 0) && (thread.threads.length == 0)" class="content">
        <br>
        В этой комнате нет удаленных подкомнат или тем
        <br>
        <br>
    </div>
    <forum_online_status :thread="thread"></forum_online_status>
</div>
