<div>
    <div v-if="!user.is_anonymous" class="btn-toolbar justify-content-between forum-menu" role="toolbar" aria-label="Toolbar">
        <b-dropdown id="dropdown-1" text="Действия" class="btn-group-sm" variant="light">
            <b-dropdown-item href="javascript:void(0)" @click="mark_all_as_readed()">
                Пометить все как прочитанное
            </b-dropdown-item>
            <b-dropdown-item href="/forums/add_room/" v-if="user.superuser">
                Добавить комнату
            </b-dropdown-item>
        </b-dropdown>
    </div>
    <div class="content" v-for="group in index.groups" v-if="!loading">
        <div class="caption" align="center">
            <div class="captionleft"></div>
            <div class="captioncontent">
                <router-link v-if="user.superuser" :to="urls.room(group.id)">
                    {{ group.title }}
                </router-link>
                <span v-else="index.is_superuser">{{ group.title }}</span>
            </div>
            <div class="captionright"></div>
        </div>
        <router-link v-if="(!user.is_anonymous) && group.unreaded" :to="urls.comment(group.unreaded)">
            <div class="room_group_read_mark not_readed"></div>
        </router-link>
        <div v-if="(!user.is_anonymous) && (!group.unreaded)" class="room_group_read_mark"></div>
        <div v-if="!user.is_anonymous" class="thread_collapse" v-on:click="collapse" :groupid="group.id">
            {{ group.collapsed ? "+" : "-" }}
        </div>

        <forum_room_list :rooms="group.rooms" v-if="!group.collapsed"></forum_room_list>
    </div>
    <forum_online_status></forum_online_status>
</div>
