<div>
    <div class="btn-toolbar forum-menu" v-if="!loading && !index.is_anonymous">
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                Действия <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="/forums/mark_all_as_readed/">
                        Пометить все как прочитанное
                    </a>
                </li>
                <li v-if="index.is_superuser">
                    <a href="/forums/add_room/">
                        Добавить комнату
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content" v-for="group in index.groups" v-if="!loading">
        <div class="caption" align="center">
            <div class="captionleft"></div>
            <div class="captioncontent">
                <router-link v-if="index.is_superuser" :to="group.url">
                    {{ group.title }}
                </router-link>
                <span v-else="index.is_superuser">{{ group.title }}</span>
            </div>
            <div class="captionright"></div>
        </div>
        <a v-if="(!index.is_anonymous) && group.unreaded" :href="group.unreaded.url">
            <div class="room_group_read_mark not_readed"></div>
        </a>
        <div v-if="(!index.is_anonymous) && (!group.unreaded)" class="room_group_read_mark"></div>
        <div v-if="!index.is_anonymous" class="thread_collapse" v-on:click="collapse" :groupid="group.id">
            {{ group.collapsed ? "+" : "-" }}
        </div>

        <forum_room_list :rooms="group.rooms" v-if="!group.collapsed"></forum_room_list>
    </div>
</div>
