<div>
    <div class="content" v-for="group in index.groups">
        <div class="caption" align="center">
            <div class="captionleft"></div>
            <div class="captioncontent">
                <a v-if="index.is_superuser" :href="group.url">
                    {{ group.title }}
                </a>
                <span v-else="index.is_superuser">{{ group.title }}</span>
            </div>
            <div class="captionright"></div>
        </div>
        <a v-if="(!index.is_anonymous) && group.unreaded" :href="group.unreaded.url">
            <div class="room_group_read_mark not_readed"></div>
        </a>
        <div v-if="(!index.is_anonymous) && (!group.unreaded)" class="room_group_read_mark"></div>
        <div v-if="!index.is_anonymous" class="thread_collapse" v-on:click="collapse" :groupid="group.id">
            {{ group.collapsed ? "+" : "-" }}
        </div>

        <forum_room_list :rooms="group.rooms" v-if="!group.collapsed"></forum_room_list>
    </div>
</div>
