<div>
    <forum_thread_actions v-if="!loading" :thread="thread" :user="user"></forum_thread_actions>
    <div v-if="thread.rooms.length > 0" class="content">
        <div class="caption" align="center">
            <div class="captionleft"></div>
            <div class="captioncontent">
                Комнаты
            </div>
            <div class="captionright"></div>
        </div>
        <forum_room_list :rooms="thread.rooms"></forum_room_list>
    </div>
    <div v-if="thread.threads.length > 0" class="content">
        <div class="caption" align="center">
            <div class="captionleft"></div>
            <div class="captioncontent">
                Темы
            </div>
            <div class="captionright"></div>
        </div>
        <forum_thread_list :threads="thread.threads"></forum_thread_list>
    </div>
    <div v-if="!loading && (thread.rooms.length == 0) && (thread.threads.length == 0)" class="content">
        <br>
        Эта комната пока пуста.
        <br>
        <br>
    </div>
    <forum_online_status :thread="thread"></forum_online_status>
</div>
