<div>
    <forum_thread_actions v-if="!loading" :thread="thread" :user="user"></forum_thread_actions>
    <div v-if="!loading">
        <pagination :pagination="pagination"></pagination>
        <div v-for="comment in comments" :key="comment.id" :id="comment.id" >
            <forum_comment :user="user" :thread="thread" :comment="comment" ref="comments"></forum_comment>
        </div>
        <pagination :pagination="pagination"></pagination>
    </div>
    <div v-if="!loading && thread.rights.write" ref="reply_form_parking">
        <forum_reply_form :thread="thread" :user="user" ref="reply_form">
        </forum_reply_form>
    </div>
    <forum_online_status :thread="thread" v-on:ids_loaded="on_online_ids_loaded"></forum_online_status>
</div>
