- extends 'base.haml'
- load i18n

- block breadcrumbs
    %a{href: '{% url "auth:registration_register" %}'}
        {% trans 'Register' %}
    %a{href: ''}
        {% trans 'Profile activation complete' %}

- block caption
    {% trans 'Activation complete' %}

- block content
    %p
        {% trans "Congratulations! You have activated your account." %}
        {% trans "Welcome to our site" %}
        = request.user
        !
        %br
        %br
        