- extends 'base.haml'
- load i18n

- block breadcrumbs
    %li
        .divider
        %a{href: ''}
            {% trans "Choose login type" %}

- block caption
    {% trans "Choose login type" %}

- block content
    - include 'login/snippets/login.haml'