- load i18n

%h3
    {% trans "Personal settings" %}
- with form=settings_form
    - include 'snippets/form_fields_only.haml'
- with form=personal_settings_form
    - include 'snippets/form_fields_only.haml'
    - include 'wysibb/init.html'
%h3
    {% trans "Email and password" %}
- with form=email_form
    - include 'snippets/form_fields_only.haml'
