- load i18n
- load url from future
<link rel="stylesheet" href="{{ STATIC_URL }}wysibb/theme/default/wbbtheme.css" type="text/css" />
%div{'style': 'width:80%;;position:relative;left:10%'}
    #settings_success{hidden: 'true'}
        .alert.alert-success
            {% trans "Settings saved" %}
    %form#settings_form.form-horizontal{method: 'POST', action: '{% url "players:profile_settings" %}'}
        - csrf_token
        #settings_form_content
            - include 'profile/settings_form.haml'
        %fieldset
            .form-actions
                %span#submit_settings.submit.btn.btn-primary
                    {% trans "save" %}
                %button.submit.btn{type: 'reset'}
                    {% trans "reset" %}
- include 'profile/settingsscript.html'