{% load url from future %}
<script>
$(document).ready(function() {
    $('#submit_settings').on('click', function() {
        var content_span = $('#settings_form_content')
        var form_span = $('#settings_form')
        $("textarea").sync();
        $("textarea").destroy();
        form_span.fadeOut(500, function() {
            form_span.ajaxSubmit({
                url: "{% url 'players:profile_settings' %}",
                success: function(data, statusText, xhr, $form) {
                    content_span[0].innerHTML = data['response'];
                    if (data['result'] == 'success') {
                        var success_span = $('#settings_success'); 
                        success_span.fadeIn(500).delay(1000).fadeOut(500, function() {
                            form_span.fadeIn(500);
                            $("textarea").wysibb(wbbOpt);
                        });
                    }
                    else {
                        form_span.fadeIn(500)
                    }
                },
                dataType: 'json'
            });
        });
    });
});
</script>