.player-avatar
  .player-avatar-image
    - if player.avatar
        %img{src: '{{ player.avatar.url }}', id: 'avatar{{ player.id }}'}
    - else
        %img{src: '{{ STATIC_URL }}tulius/img/blank_avatar.jpg', id: 'avatar{{ player.id }}'}
