%div.stars
    - for star in player.full_stars
        - if star == 'b'
            %img{src: '{{ STATIC_URL }}players/star_big.png'}
        - elif star == 's'
            %img{src: '{{ STATIC_URL }}players/star_win.gif'}
        - elif star == 'e'
            %img{src: '{{ STATIC_URL }}players/star.gif'}
