{% load i18n %}

<div id="chartdiv" style="height:400px;width:100%; "></div>

<script type="text/javascript" src="{{ STATIC_URL }}profiler/js/dygraph-combined.js"></script>

<script>
var series = [
        {% for line in data %}
            [new Date("{{ line.0|date:"c"}}"), {{ line.1 }},],
        {% endfor %}
    ]

var g = new Dygraph(
            document.getElementById("chartdiv"),
            series, {
              stackedGraph: true,
              labels: ['{% trans "Time" %}', '{% trans "views" %}'],
            }
          );
</script>