{% load i18n %}

<div id="chartdiv" style="height:400px;width:100%; "></div>

<script type="text/javascript" src="{{ STATIC_URL }}profiler/js/dygraph-combined.js"></script>

<script>
var series = [
        {% for line in graph.data %}
            [new Date("{{ line.0|date:"c"}}"), 
                {% for value in line.1 %}
                    {{ value }},
                {% endfor %}
            ],
        {% endfor %}
    ]
var series_labels = ["{% trans "Value" %}", {% for value in graph.captions %}"{{value}}",{% endfor %}];

var g = new Dygraph(
            document.getElementById("chartdiv"),
            series, {
              stackedGraph: {% if graph.incremental %}true{% else %}false{% endif %},
              labels: series_labels,
            }
          );
</script>