{% load i18n %}
<table class="wide-table" id="loading-main-content">
    <tr>
        <td>
            <div id="loadingdiv" style="height:800px;width:100%; "></div>
        </td>
        <td width="450">
            <table class="table">
                <thead>
                    <tr>
                        <th >
                            {% trans "Module name" %}
                        </th>
                        {% if graph.details %}
                        <th width="50px">
                            {% trans "Avg" %}
                        </th>
                        <th width="50px">
                            {% trans "Count" %}
                        </th>
                        {% endif %}
                        <th width="50px">
                            {% trans "Sum" %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="javascript:show_all();">{% trans "All" %}</a></td>
                        {% if graph.details %}
                        <td>{{ graph.modules_avg|floatformat:0 }}</td>
                        <td>{{ graph.modules_count }}</td>
                        {% endif %}
                        <td>{{ graph.modules_sum }}</td>
                    </tr>
                </tbody>
            </table>
            <div id="loading-accordion">
                {% for module in graph.modules %}
                    <div>
                        <table class="table wide-table module_table module_table{{forloop.counter0}}">
                            <thead>
                                <tr>
                                    <th >
                                        <input name="series{{forloop.counter0}}" value="vertical" checked="checked" type="checkbox">
                                        {{ module.module_name }}
                                    </th>
                                    {% if graph.details %}
                                    <th width="50px">
                                        {{ module.avg|floatformat:0 }}
                                        
                                    </th>
                                    <th width="50px">
                                        {{ module.count }}
                                    </th>
                                    {% endif %}
                                    <th width="50px">
                                        {{ module.sum }}
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div>
                        <table class="table wide-table module_table module_table{{forloop.counter0}}">
                            <tbody>
                                {% for function in module.functions %}
                                    <tr>
                                        <td>{{ function.func_name }}</td>
                                        {% if graph.details %}
                                        <td>{{ function.weight_avg|floatformat:0 }}</td>
                                        <td>{{ function.weight_count }}</td>
                                        {% endif %}
                                        <td>{{ function.weight_sum }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan=4>
                                        <a href="javascript:show_only({{forloop.counter0}});">Only this</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript" src="{{ STATIC_URL }}profiler/js/dygraph-combined.js"></script>
    
<script>
    (function($) {
        $( "#loading-accordion" ).accordion({ collapsible: true, heightStyleType: "content" });

        $("#loading-accordion div input").click(function(evt) {
            evt.stopPropagation();
        });

        var series = [
            {% for line in graph.data %}
                [new Date("{{ line.0|date:"c"}}"),
                {% for value in line.1 %}
                    {{ value }},
                {% endfor %}
                ],
            {% endfor %}
        ]

        var series_labels = ["{% trans "Value" %}", {% for module in graph.modules %}"{{module.module_name}}",{% endfor %}];

        var g = new Dygraph(
            document.getElementById("loadingdiv"),
            series, {
              stackedGraph: true,
              labels: series_labels,
            }
          );

        $("input[type=checkbox][name^=series]").change(function(){
            var i = this.name.slice(6, this.name.length);
            g.setVisibility(i, this.checked);
        });
    })(jQuery);

    function show_only(show_index){
        $("input[type=checkbox][name^=series]").each(function(){
            var i = this.name.slice(6, this.name.length);
            var old_checked = this.checked;
            this.checked = (i == show_index);
            if ( this.checked != old_checked) { g.setVisibility(i, this.checked); };
        });
    };
    
    function show_all(){
        $("input[type=checkbox][name^=series]").each(function(){
            var i = this.name.slice(6, this.name.length);
            var old_checked = this.checked;
            this.checked = true;
            if ( this.checked != old_checked) { g.setVisibility(i, this.checked); };
        });
    };

</script>