- extends 'forum/snippets/post.haml'
- load i18n

- block forum_user_info
    - with role=comment.role
        - if role
            - if role.avatar.image.url
                %img.game-avatar-image{'src': '{{ role.avatar.image.url }}'}
                %br
            %table.online-table
                %tr
                    %td
                        - if role.show_in_online_character
                            - if role.is_online
                                - if comment.online_here
                                    .online-icon-here-online
                                - else
                                    .online-icon-online
                            - else
                                .online-icon-offline
                        - else
                            .online-icon-hidden
                    %td
                        - if role.show_in_character_list
                            %a{'data-toggle': 'modal', 'href': '#role{{ role.id }}'}
                                = role
                        - else
                            = role
            - if not request.user.hide_trustmarks
                - if role.show_trust_marks
                    - if not block_trustmarks
                        .trustmark
                            - if not role.user_id == user.id
                                - if parent_thread.edit_marks
                                    .trustmark-links
                                        %a.do_trustmark{href: "javascript:do_trustmark({{ role.id }}, -3)"}
                                            \-3
                                        %a.do_trustmark{href: "javascript:do_trustmark({{ role.id }}, -2)"}
                                            \-2
                                        %a.do_trustmark{href: "javascript:do_trustmark({{ role.id }}, -1)"}
                                            \-1
                                        %a.do_trustmark{href: "javascript:do_trustmark({{ role.id }}, 1)"}
                                            +1
                                        %a.do_trustmark{href: "javascript:do_trustmark({{ role.id }}, 2)"}
                                            +2
                                        %a.do_trustmark{href: "javascript:do_trustmark({{ role.id }}, 3)"}
                                            +3
                            {% trans "All trust:" %}
                            %span.trust_value{id: "trustmark-{{ role.id }}-allmark"}
                                {{ role.trust_value }}%
                            %br
                            - if not role.user_id == user.id
                                - if not user.is_anonymous
                                    {% trans "My trust:" %}
                                    %span.trust_value{id: "trustmark-{{ role.id }}-mymark"}
                                        {{ role.my_trust }}%
- block edited
    - if parent_thread.game
        {% trans "Edited by:" %} {{ comment.edit_role }}, {{ comment.edit_time|date:"d.m.Y, H:i" }}            
        
- block post-signature
        