- extends 'gameforum/snippets/post.haml'

- block post_title
    %ul.breadcrumb.search-breadcrumb
        - for ancestor in comment.parent.get_ancestors
            - if ancestor.parent
                %li
                    %a{"href": "{{ ancestor.get_absolute_url }}"}
                        = ancestor.title
        %li
            %a{"href": "{{ comment.parent.get_absolute_url }}"}
                = comment.parent.title
        %li
            %a{"href": "{{ comment.get_absolute_url }}"}
                = comment.title
