- load i18n

%table.table.forum-thread-list
    %thead
        %tr
            %th{'width': '40'}
                &nbsp;
            %th 
                {% trans "thread" %}
            %th..miniphone-hidden{'width': '100'}
                {% trans "author" %}
            %th.miniphone-hidden{'width': '80'}
                {% trans "posts" %}
            %th.miniphone-hidden{'width': '200'}
                {% trans "latest post" %}
    %tbody
        - for thread in threads
            %tr{'class': '{% if thread.deleted %}deleted-thread{%endif%}'}
                %td.forum-post-icon
                    - if thread.important
                        - with unreaded=thread.unreaded
                            - if unreaded
                                %a{'href':'{{ unreaded.get_absolute_url }}'}
                                    %img{src: '{{ MEDIA_URL }}forum/important_not_readed.gif'}
                            - else
                                %img{src: '{{ MEDIA_URL }}forum/important_readed.gif'}
                    - else
                        - if thread.closed
                            %img{src: '{{ MEDIA_URL }}forum/closed.gif'}
                        - else
                            - with unreaded=thread.unreaded
                                - if unreaded
                                    %a{'href':'{{ unreaded.get_absolute_url }}'}
                                        %img{src: '{{ MEDIA_URL }}forum/unreadedmark.gif'}
                                - else
                                    %a{'href':'{{ thread.get_absolute_url }}'}
                                        %img{src: '{{ MEDIA_URL }}forum/readedmark.gif'}
                %td
                    .forum-post-description
                        %h4
                            %a{'href': '{{ thread.get_absolute_url }}'}
                                = thread.title
                        - if thread.accessed_users
                            %h6.moderators {% trans "Opened for" %}:
                            %ul.moderators
                                - for role in thread.accessed_users
                                    - if role.show_in_character_list
                                        <li><a data-toggle="modal" href="#role{{ role.id }}">{{ role }}</a></li>
                                    - else
                                        <li>{{ role }}</li>
                        - if thread.pages
                            %h6 {% trans "pages" %}:
                            - for page in thread.pages
                                %a{'href': '{{ page.url }}'}
                                    {{ page.page }}
                %td..miniphone-hidden
                    - if thread.role.show_in_character_list
                        %a{'data-toggle': 'modal', 'href': '#role{{ thread.role.id }}'}
                            = thread.role
                    - else
                        = thread.role
                %td.miniphone-hidden
                    = thread.comments_count
                %td.miniphone-hidden
                    - with comment=thread.last_comment
                        - include 'gameforum/snippets/latest_post.haml'