{% extends "admin/change_list.html" %} 
{% load i18n %}
{% load bugtracker %}

{% block content_title %}
{% endblock %}

{% block breadcrumbs %}
    ../../|{% trans "Home" %}
    ../|{{ app_label|capfirst }}
    {% bug_main %}|{% trans "Issues" %}
{% endblock %}

{% block content %}
    <iframe src="{{ proxy_filter}}/{{ proxy_id }}/" width="100%" frameborder="0" scrolling="no"></iframe>
    <script type="text/javascript" src="{{ STATIC_URL }}bugtracker/jquery/jquery.iframe-auto-height.plugin.1.9.3.min.js"></script>
    <script>$('iframe').iframeAutoHeight();</script>
{% endblock %}